# PAIR PROGRAMING - MODULO 3- LECCION 05 - AGRUPACIÓN DE DATOS Y MÉTODO APPLY

In [19]:
# Intalaciones
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 8.5 MB/s eta 0:00:01
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 8.6 MB/s  eta 0:00:01
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [21]:
# Importaciones necesarias
import pandas as pd
import numpy as np
from geopy import Nominatim

In [4]:
# Apertura y lectura del archivo csv, para la lectura y observación en DataFrame
df_pair4 = pd.read_csv("datos_pair4.csv")
df_pair4

,Unnamed: 0,unnamed0,country,density(p/km2),abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,1,1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
2,2,2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,...,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
3,3,3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,...,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,4,4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,...,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,...,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",('6.42375 ','-66.58973')
191,191,191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,...,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",('14.058324 ','108.277199')
192,192,192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,...,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",('15.552727 ','48.516388')
193,193,193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,...,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",('-13.133897 ','27.849332')
194,194,194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,...,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",('-19.015438 ','29.154857')

In [16]:
print(df_pair4.to_string())

     Unnamed: 0  unnamed0                           country  density(p/km2) abbreviation  agriculturalland  landarea  armedforcessize  birthrate  callingcode       capital/majorcity  co2-emissions  cpi  cpichange currency-code  fertilityrate  forestedarea  gasolineprice  unnamed0.1  gdp  grossprimaryeducationenrollment  grosstertiaryeducationenrollment  infantmortality              largestcity  lifeexpectancy  maternalmortalityratio  minimumwage        officiallanguage  outofpockethealthexpenditure  physiciansperthousand  population  populationlaborforceparticipation  taxrevenue  totaltaxrate  unemploymentrate  urban_population  latitud  longitud
0             0         0                       Afghanistan             NaN           AF              58.1       NaN              NaN      32.49         93.0                   Kabul            NaN  NaN        2.3           AFN           4.47           2.1           0.70           0  NaN                            104.0                               9.7             47.9                    Kabul            64.5                   638.0         0.43                  Pashto                          78.4                   0.28         NaN                               48.9         9.3          71.4             11.12               NaN      NaN       NaN
1             1         1                           Albania             NaN           AL              43.1       NaN              NaN      11.78        355.0                  Tirana            NaN  NaN        1.4           ALL           1.62          28.1           1.36           1  NaN                            107.0                              55.0              7.8                   Tirana            78.5                    15.0         1.12                Albanian                          56.9                   1.20         NaN                               55.7        18.6          36.6             12.33               NaN      NaN       NaN
2             2         2                           Algeria             NaN           DZ              17.4       NaN              NaN      24.28        213.0                 Algiers            NaN  NaN        2.0           DZD           3.02           0.8           0.28           2  NaN                            109.9                              51.4             20.1                  Algiers            76.7                   112.0         0.95                  Arabic                          28.1                   1.72         NaN                               41.2        37.2          66.1             11.70               NaN      NaN       NaN
3             3         3                           Andorra             NaN           AD              40.0       NaN              NaN       7.20        376.0        Andorra la Vella            NaN  NaN        NaN           EUR           1.27          34.0           1.51           3  NaN                            106.4                               NaN              2.7         Andorra la Vella             NaN                     NaN         6.63                 Catalan                          36.4                   3.33         NaN                                NaN         NaN           NaN               NaN               NaN      NaN       NaN
4             4         4                            Angola             NaN           AO              47.5       NaN              NaN      40.73        244.0                  Luanda            NaN  NaN       17.1           AOA           5.52          46.3           0.97           4  NaN                            113.5                               9.3             51.6                   Luanda            60.8                   241.0         0.71              Portuguese                          33.4                   0.21         NaN                               77.5         9.2          49.1              6.89               NaN      NaN       NaN
5             5         5               Antigua and Barbuda             NaN           AG              20.5       NaN              NaN      15.33          1.0  St. John's, Saint John            NaN  NaN        1.2           XCD           1.99          22.3           0.99           5  NaN                            105.0                              24.8              5.0   St. John's, Saint John            76.9                    42.0         3.04                 English                          24.3                   2.76         NaN                                NaN        16.5          43.0               NaN               NaN      NaN       NaN
6             6         6                         Argentina             NaN           AR              54.3       NaN              NaN      17.02         54.0            Buenos Aires            NaN  NaN       53.5           ARS           2.26           9.8           1.10           6  NaN                            109.7                              90.0              8.8             Buenos Aires            76.5                    39.0         3.35                 Spanish                          17.6                   3.96         NaN                               61.3        10.1         106.3              9.79               NaN      NaN       NaN
7             7         7                           Armenia             NaN           AM              58.9       NaN              NaN      13.99        374.0                 Yerevan            NaN  NaN        1.4           AMD           1.76          11.7           0.77           7  NaN                             92.7                              54.6             11.0                  Yerevan            74.9                    26.0         0.66                Armenian                          81.6                   4.40         NaN                               55.6        20.9          22.6             16.99               NaN      NaN       NaN
8             8         8                         Australia             NaN           AU              48.2       NaN              NaN      12.60         61.0                Canberra            NaN  NaN        1.6           AUD           1.74          16.3           0.93           8  NaN                            100.3                             113.1              3.1                   Sydney            82.7                     6.0        13.59                     NaN                          19.6                   3.68         NaN                               65.5        23.0          47.4              5.27               NaN      NaN       NaN
9             9         9                           Austria             NaN           AT              32.4       NaN              NaN       9.70         43.0                  Vienna            NaN  NaN        1.5           EUR           1.47          46.9           1.20           9  NaN                            103.1                              85.1              2.9                   Vienna            81.6                     5.0          NaN                  German                          17.9                   5.17         NaN                               60.7        25.4          51.4              4.67               NaN      NaN       NaN
10           10        10                        Azerbaijan             NaN           AZ              57.7       NaN              NaN      14.00        994.0                    Baku            NaN  NaN        2.6           AZN           1.73          14.1           0.56          10  NaN                             99.7                              27.7             19.2                     Baku            72.9                    26.0         0.47    Azerbaijani language                          78.6                   3.45         NaN                               66.5        13.0          40.7              5.51               NaN      NaN       NaN
11           11        11                       The Bahamas             NaN           BS               1.4       NaN              NaN      13.97          1.0         Nassau, Bahamas            NaN  NaN        2.5           NaN           1.75          51.4           0.92          11  NaN                             81.4                              15.1              8.3          Nassau, Bahamas            73.8                    70.0         5.25                 English                          27.8                   1.94         NaN                               74.6        14.8          33.8             10.36               NaN      NaN       NaN
12           12        12                           Bahrain             NaN           BH              11.1       NaN              NaN      13.99        973.0                  Manama            NaN  NaN        2.1           BHD           1.99           0.8           0.43          12  NaN                             99.4                              50.5              6.1                    Riffa            77.2                    14.0          NaN                  Arabic                          25.1                   0.93         NaN                               73.4         4.2          13.8              0.71               NaN      NaN       NaN
13           13        13                        Bangladesh             NaN           BD              70.6       NaN              NaN      18.18        880.0                   Dhaka            NaN  NaN        5.6           BDT           2.04          11.0           1.12          13  NaN                            116.5                              20.6             25.1                    Dhaka            72.3                   173.0         0.51                 Bengali                          71.8                   0.58         NaN                               59.0         8.8          33.4              4.19               NaN      NaN       NaN
14           14        14                          Barbados             NaN           BB              23.3       NaN              NaN      10.65          1.0              Bridgetown            NaN  NaN        4.1           BBD           1.62          14.7           1.81          14  NaN                             99.4                              65.4             11.3               Bridgetown            79.1                    27.0         3.13                 English                          45.2                   2.48         NaN                               65.2        27.5          35.6             10.33               NaN      NaN       NaN
15           15        15                           Belarus             NaN           BY              42.0       NaN              NaN       9.90        375.0                   Minsk            NaN  NaN        5.6           BYN           1.45          42.6           0.60          15  NaN                            100.5                              87.4              2.6                    Minsk            74.2                     2.0         1.49                 Russian                          34.5                   5.19         NaN                               64.1        14.7          53.3              4.59               NaN      NaN       NaN
16           16        16                           Belgium             NaN           BE              44.6       NaN              NaN      10.30         32.0        City of Brussels            NaN  NaN        1.4           EUR           1.62          22.6           1.43          16  NaN                            103.9                              79.7              2.9                 Brussels            81.6                     5.0        10.31                  French                          17.6                   3.07         NaN                               53.6        24.0          55.4              5.59               NaN      NaN       NaN
17           17        17                            Belize             NaN           BZ               7.0       NaN              NaN      20.79        501.0                Belmopan            NaN  NaN       -0.9           BZD           2.31          59.7           1.13          17  NaN                            111.7                              24.7             11.2              Belize City            74.5                    36.0         1.65                 English                          22.7                   1.12         NaN                               65.1        26.3          31.1              6.41               NaN      NaN       NaN
18           18        18                             Benin             NaN           BJ              33.3       NaN              NaN      36.22        229.0              Porto-Novo            NaN  NaN       -0.9           XOF           4.84          37.8           0.72          18  NaN                            122.0                              12.3             60.5                  Cotonou            61.5                   397.0         0.39                  French                          40.5                   0.08         NaN                               70.9        10.8          48.9              2.23               NaN      NaN       NaN
19           19        19                            Bhutan             NaN           BT              13.6       NaN              NaN      17.26        975.0                 Thimphu            NaN  NaN        2.7           NaN           1.98          72.5           0.98          19  NaN                            100.1                              15.6             24.8                  Thimphu            71.5                   183.0         0.32                Dzongkha                          19.8                   0.42         NaN                               66.7        16.0          35.3              2.34               NaN      NaN       NaN
20           20        20                           Bolivia             NaN           BO              34.8       NaN              NaN      21.75        591.0                   Sucre            NaN  NaN        1.8           BOB           2.73          50.3           0.71          20  NaN                             98.2                               NaN             21.8  Santa Cruz de la Sierra            71.2                   155.0         1.36                 Spanish                          25.9                   1.59         NaN                               71.8        17.0          83.7              3.50               NaN      NaN       NaN
21           21        21            Bosnia and Herzegovina             NaN           BA              43.1       NaN              NaN       8.11        387.0                Sarajevo            NaN  NaN        0.6           BAM           1.27          42.7           1.05          21  NaN                              NaN                              23.3              5.0             Tuzla Canton            77.3                    10.0         1.04                 Bosnian                          28.6                   2.16         NaN                               46.4        20.4          23.7             18.42               NaN      NaN       NaN
22           22        22                          Botswana             NaN           BW              45.6       NaN              NaN      24.82        267.0                Gaborone            NaN  NaN        2.8           BWP           2.87          18.9           0.71          22  NaN                            103.2                              24.9             30.0                 Gaborone            69.3                   144.0         0.29                 English                           5.3                   0.37         NaN                               70.8        19.5          25.1             18.19               NaN      NaN       NaN
23           23        23                            Brazil             NaN           BR              33.9       NaN              NaN      13.92         55.0                 Bras���            NaN  NaN        3.7           BRL           1.73          58.9           1.02          23  NaN                            115.4                              51.3             12.8                    S����            75.7                    60.0         1.53              Portuguese                          28.3                   2.15         NaN                               63.9        14.2          65.1             12.08               NaN      NaN       NaN
24           24        24                            Brunei             NaN           BN               2.7       NaN              NaN      14.90        673.0     Bandar Seri Begawan            NaN  NaN       -0.4           BND           1.85          72.1           0.37          24  NaN                            103.2                              31.4              9.8                      NaN            75.7                    31.0          NaN                   Malay                           6.0                   1.61         NaN                               64.7         NaN           8.0              9.12               NaN      NaN       NaN
25           25        25                          Bulgaria             NaN           BG              46.3       NaN              NaN       8.90        359.0                   Sofia            NaN  NaN        3.1           BGN           1.56          35.4           1.11          25  NaN                             89.3                              71.0              5.9                    Sofia            74.9                    10.0         1.57               Bulgarian                          47.7                   4.03         NaN                               55.4        20.2          28.3              4.34               NaN      NaN       NaN
26           26        26                      Burkina Faso             NaN           BF              44.2       NaN              NaN      37.93        226.0             Ouagadougou            NaN  NaN       -3.2           XOF           5.19          19.3           0.98          26  NaN                             96.1                               6.5             49.0              Ouagadougou            61.2                   320.0         0.34                  French                          36.1                   0.08         NaN                               66.4        15.0          41.3              6.26               NaN      NaN       NaN
27           27        27                           Burundi             NaN           BI              79.2       NaN              NaN      39.01        257.0               Bujumbura            NaN  NaN       -0.7           BIF           5.41          10.9           1.21          27  NaN                            121.4                               6.1             41.0                Bujumbura            61.2                   548.0          NaN                 Kirundi                          19.1                   0.10         NaN                               79.2        13.6          41.2              1.43               NaN      NaN       NaN
28           28        28                       Ivory Coast             NaN           CI              64.8       NaN              NaN      35.74        225.0            Yamoussoukro            NaN  NaN       -0.9           XOF           4.65          32.7           0.93          28  NaN                             99.8                               9.3             59.4                  Abidjan            57.4                   617.0         0.36                  French                          36.0                   0.23         NaN                               57.0        11.8          50.1              3.32               NaN      NaN       NaN

In [12]:
df_pair4.columns

Index(['Unnamed: 0', 'unnamed0', 'country', 'density(p/km2)', 'abbreviation',
       'agriculturalland', 'landarea', 'armedforcessize', 'birthrate',
       'callingcode', 'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')

## Ejercicios apply

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [13]:
columns = ['landarea', 'armedforcessize', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitud', 'longitud', 'density(p/km2)', 'cpi']

In [5]:
def convert_numeric(valor):
        
       try:
           return float(valor.replace(",", "."))
       except:
           return np.nan

In [14]:
df_pair4[columns] = df_pair4[columns].apply(convert_numeric)

In [15]:
df_pair4["landarea"]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
190   NaN
191   NaN
192   NaN
193   NaN
194   NaN
Name: landarea, Length: 195, dtype: float64

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [33]:
def continent(valor):
    continentes_paises = {
    'Africa': ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
               'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
               'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
               'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
               'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
               'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
               'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
               'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
               'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
               'Cuba', 'Cyprus', 'Czech Republic',
               'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
               'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
               'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
               'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
               'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
               'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
               'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
               'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
               'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
               'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
               'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
               'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
               'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
               'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
               'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
               'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
               'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
               'Norway', 'Oman', 'Pakistan', 'Palau',
               'Palestinian National Authority', 'Panama', 'Papua New Guinea',
               'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
               'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
               'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
               'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
               'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
               'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
               'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
               'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
               'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
               'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
               'United Arab Emirates', 'United Kingdom', 'United States',
               'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
               'Yemen', 'Zambia', 'Zimbabwe'],
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
             'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Georgia',
             'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
             'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia',
             'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman',
             'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia',
             'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan',
             'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan', 'United Arab Emirates',
             'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
               'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
               'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
               'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
               'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia',
               'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia',
               'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom',
               'Vatican City'],
    'North America': ['Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada',
                      'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador',
                      'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico',
                      'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                      'Trinidad and Tobago', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
                  'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']}
    
    for valor in continentes_paises:
        print(valor.items())
        break
        
    
    
    lista = []
    
    return

In [38]:
def agregar_columna_continente(df):
        continentes_paises = {
    'Africa': ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
               'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
               'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
               'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
               'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
               'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
               'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
               'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
               'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
               'Cuba', 'Cyprus', 'Czech Republic',
               'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
               'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
               'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
               'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
               'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
               'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
               'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
               'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
               'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
               'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
               'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
               'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
               'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
               'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
               'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
               'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
               'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
               'Norway', 'Oman', 'Pakistan', 'Palau',
               'Palestinian National Authority', 'Panama', 'Papua New Guinea',
               'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
               'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
               'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
               'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
               'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
               'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
               'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
               'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
               'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
               'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
               'United Arab Emirates', 'United Kingdom', 'United States',
               'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
               'Yemen', 'Zambia', 'Zimbabwe'],
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
             'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Georgia',
             'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
             'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia',
             'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman',
             'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia',
             'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan',
             'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan', 'United Arab Emirates',
             'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
               'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
               'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
               'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
               'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia',
               'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia',
               'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom',
               'Vatican City'],
    'North America': ['Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada',
                      'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador',
                      'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico',
                      'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                      'Trinidad and Tobago', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
                  'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']}
        
        continent_values = []
        for index, row in df_pair4.iterrows():
            country = row['Country']
            for continent, countries in continentes_paises.items():
                if country in countries:
                    continent_values.append(continent)
                
                else:
                    continent_values.append(None)  # None si el país no se encuentra en ningún continente
        df['Continent'] = continent_values
        return df

# Ejemplo de uso
#df = agregar_columna_continente(df, continentes_paises)

In [ ]:
def agregar_columna_continente(df):
    continentes_paises_reducido = {
        'Africa': ['Algeria', 'Nigeria', 'South Africa'],
        'Asia': ['China', 'India', 'Japan'],
        'Europe': ['France', 'Germany', 'Italy'],
        'North America': ['Canada', 'Mexico', 'United States'],
        'South America': ['Argentina', 'Brazil', 'Colombia']
    }
    
    continent_values = []
    for index, row in df.iterrows():
        country = row['Country']
        for continent, countries in continentes_paises_reducido.items():
            if country in countries:
                continent_values.append(continent)
                break
        else:
            continent_values.append(None)  # None si el país no se encuentra en ningún continente
    df['Continent'] = continent_values
    return df

# Ejemplo de uso
df_pair4["continent"] = agregar_columna_continente(df_pair4)

In [39]:
df_pair4["continent"] = df_pair4["country"].apply(agregar_columna_continente)

KeyError: 'Country'

In [23]:
geolocator = Nominatim(user_agent="geoapiExercises")

In [25]:
location = geolocator.geocode("spain")
location

Location(España, (39.3260685, -4.8379791, 0.0))

In [26]:
def get_continent(country):
    location = geolocator.geocode(country)
    if location is not None:
        return location.raw['display_name'].split(',')[-1].strip()
    else:
        return None

In [ ]:
df_pair4['Continent'] = df_pair4["country"].apply(get_continent)

In [30]:
df_pair4["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

## Ejercicios groupby

1. ¿Cuál es la densidad de población promedio por continente?

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

4. ¿Cuál es el salario mínimo por continente?

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

7.¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

## Ejercicios BONUS groupby:

9. ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

10. ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?