# PAIR PROGRAMING - MODULO 3- LECCION 05 - AGRUPACIÓN DE DATOS Y MÉTODO APPLY

In [ ]:
# Intalaciones              !pip install geopy

In [63]:
# Importaciones necesarias
import pandas as pd
import numpy as np
from geopy import Nominatim

In [64]:
# Apertura y lectura del archivo csv, para la lectura y observación en DataFrame
df_pair4 = pd.read_csv("datos_pair4.csv")
df_pair4

,Unnamed: 0,unnamed0,country,density(p/km2),abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,1,1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
2,2,2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,...,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
3,3,3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,...,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,4,4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,...,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,...,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",('6.42375 ','-66.58973')
191,191,191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,...,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",('14.058324 ','108.277199')
192,192,192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,...,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",('15.552727 ','48.516388')
193,193,193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,...,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",('-13.133897 ','27.849332')
194,194,194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,...,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",('-19.015438 ','29.154857')

## Ejercicios apply

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [65]:
columns = ['landarea', 'armedforcessize', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitud', 'longitud', 'density(p/km2)', 'cpi']

In [66]:
df_pair4[columns].dtypes

landarea            object
armedforcessize     object
co2-emissions       object
gdp                 object
population          object
urban_population    object
latitud             object
longitud            object
density(p/km2)      object
cpi                 object
dtype: object

In [67]:
df_pair4.head()

,Unnamed: 0,unnamed0,country,density(p/km2),abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,1,1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
2,2,2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,...,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
3,3,3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,...,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,4,4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,...,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')

In [68]:

def convert_numeric(valor):
    try:
        valor = valor.replace(",", "")
        return float(valor)
    except:
        return np.nan

In [69]:
for columna in columns:
    df_pair4[columna] = df_pair4[columna].apply(convert_numeric)

In [70]:
df_pair4["landarea"]

0       652230.0
1        28748.0
2      2381741.0
3          468.0
4      1246700.0
         ...
190     912050.0
191     331210.0
192     527968.0
193     752618.0
194     390757.0
Name: landarea, Length: 195, dtype: float64

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [71]:
def agregar_columna_continente(dato):
    continentes_paises = {'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'], 'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
             'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Georgia',
             'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
             'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia',
             'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman',
             'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia',
             'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan',
             'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan', 'United Arab Emirates',
             'Uzbekistan', 'Vietnam', 'Yemen'], 'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
               'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
               'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
               'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
               'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia',
               'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia',
               'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom',
               'Vatican City'], 'North America': ['Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada',
                      'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador',
                      'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico',
                      'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                      'Trinidad and Tobago', 'United States'], 'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
                  'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']}
   
    for continente, paises in continentes_paises.items():
        if dato in paises:
            return continente
            break

In [72]:
df_pair4["continent"] = df_pair4["country"].apply(agregar_columna_continente)

In [73]:
df_pair4.columns

Index(['Unnamed: 0', 'unnamed0', 'country', 'density(p/km2)', 'abbreviation',
       'agriculturalland', 'landarea', 'armedforcessize', 'birthrate',
       'callingcode', 'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent'],
      dtype='object')

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [74]:
df_pair4.to_csv("datos_pair5.csv")

## Ejercicios groupby

In [75]:
print(df_pair4.to_string())

     Unnamed: 0  unnamed0                           country  density(p/km2) abbreviation  agriculturalland    landarea  armedforcessize  birthrate  callingcode       capital/majorcity  co2-emissions      cpi  cpichange currency-code  fertilityrate  forestedarea  gasolineprice  unnamed0.1           gdp  grossprimaryeducationenrollment  grosstertiaryeducationenrollment  infantmortality              largestcity  lifeexpectancy  maternalmortalityratio  minimumwage        officiallanguage  outofpockethealthexpenditure  physiciansperthousand    population  populationlaborforceparticipation  taxrevenue  totaltaxrate  unemploymentrate  urban_population  latitud  longitud      continent
0             0         0                       Afghanistan            60.0           AF              58.1    652230.0         323000.0      32.49         93.0                   Kabul         8672.0   149.90        2.3           AFN           4.47           2.1           0.70           0  1.910135e+10                            104.0                               9.7             47.9                    Kabul            64.5                   638.0         0.43                  Pashto                          78.4                   0.28  3.804175e+07                               48.9         9.3          71.4             11.12         9797273.0      NaN       NaN           Asia
1             1         1                           Albania           105.0           AL              43.1     28748.0           9000.0      11.78        355.0                  Tirana         4536.0   119.05        1.4           ALL           1.62          28.1           1.36           1  1.527808e+10                            107.0                              55.0              7.8                   Tirana            78.5                    15.0         1.12                Albanian                          56.9                   1.20  2.854191e+06                               55.7        18.6          36.6             12.33         1747593.0      NaN       NaN         Europe
2             2         2                           Algeria            18.0           DZ              17.4   2381741.0         317000.0      24.28        213.0                 Algiers       150006.0   151.36        2.0           DZD           3.02           0.8           0.28           2  1.699882e+11                            109.9                              51.4             20.1                  Algiers            76.7                   112.0         0.95                  Arabic                          28.1                   1.72  4.305305e+07                               41.2        37.2          66.1             11.70        31510100.0      NaN       NaN         Africa
3             3         3                           Andorra           164.0           AD              40.0       468.0              NaN       7.20        376.0        Andorra la Vella          469.0      NaN        NaN           EUR           1.27          34.0           1.51           3  3.154058e+09                            106.4                               NaN              2.7         Andorra la Vella             NaN                     NaN         6.63                 Catalan                          36.4                   3.33  7.714200e+04                                NaN         NaN           NaN               NaN           67873.0      NaN       NaN         Europe
4             4         4                            Angola            26.0           AO              47.5   1246700.0         117000.0      40.73        244.0                  Luanda        34693.0   261.73       17.1           AOA           5.52          46.3           0.97           4  9.463542e+10                            113.5                               9.3             51.6                   Luanda            60.8                   241.0         0.71              Portuguese                          33.4                   0.21  3.182530e+07                               77.5         9.2          49.1              6.89        21061025.0      NaN       NaN         Africa
5             5         5               Antigua and Barbuda           223.0           AG              20.5       443.0              0.0      15.33          1.0  St. John's, Saint John          557.0   113.81        1.2           XCD           1.99          22.3           0.99           5  1.727759e+09                            105.0                              24.8              5.0   St. John's, Saint John            76.9                    42.0         3.04                 English                          24.3                   2.76  9.711800e+04                                NaN        16.5          43.0               NaN           23800.0      NaN       NaN  North America
6             6         6                         Argentina            17.0           AR              54.3   2780400.0         105000.0      17.02         54.0            Buenos Aires       201348.0   232.75       53.5           ARS           2.26           9.8           1.10           6  4.496634e+11                            109.7                              90.0              8.8             Buenos Aires            76.5                    39.0         3.35                 Spanish                          17.6                   3.96  4.493871e+07                               61.3        10.1         106.3              9.79        41339571.0      NaN       NaN  South America
7             7         7                           Armenia           104.0           AM              58.9     29743.0          49000.0      13.99        374.0                 Yerevan         5156.0   129.18        1.4           AMD           1.76          11.7           0.77           7  1.367280e+10                             92.7                              54.6             11.0                  Yerevan            74.9                    26.0         0.66                Armenian                          81.6                   4.40  2.957731e+06                               55.6        20.9          22.6             16.99         1869848.0      NaN       NaN           Asia
8             8         8                         Australia             3.0           AU              48.2   7741220.0          58000.0      12.60         61.0                Canberra       375908.0   119.80        1.6           AUD           1.74          16.3           0.93           8  1.392681e+12                            100.3                             113.1              3.1                   Sydney            82.7                     6.0        13.59                     NaN                          19.6                   3.68  2.576660e+07                               65.5        23.0          47.4              5.27        21844756.0      NaN       NaN           None
9             9         9                           Austria           109.0           AT              32.4     83871.0          21000.0       9.70         43.0                  Vienna        61448.0   118.06        1.5           EUR           1.47          46.9           1.20           9  4.463147e+11                            103.1                              85.1              2.9                   Vienna            81.6                     5.0          NaN                  German                          17.9                   5.17  8.877067e+06                               60.7        25.4          51.4              4.67         5194416.0      NaN       NaN         Europe
10           10        10                        Azerbaijan           123.0           AZ              57.7     86600.0          82000.0      14.00        994.0                    Baku        37620.0   156.32        2.6           AZN           1.73          14.1           0.56          10  3.920700e+10                             99.7                              27.7             19.2                     Baku            72.9                    26.0         0.47    Azerbaijani language                          78.6                   3.45  1.002332e+07                               66.5        13.0          40.7              5.51         5616165.0      NaN       NaN           Asia
11           11        11                       The Bahamas            39.0           BS               1.4     13880.0           1000.0      13.97          1.0         Nassau, Bahamas         1786.0   116.22        2.5           NaN           1.75          51.4           0.92          11  1.282700e+10                             81.4                              15.1              8.3          Nassau, Bahamas            73.8                    70.0         5.25                 English                          27.8                   1.94  3.894820e+05                               74.6        14.8          33.8             10.36          323784.0      NaN       NaN  North America
12           12        12                           Bahrain          2239.0           BH              11.1       765.0          19000.0      13.99        973.0                  Manama        31694.0   117.59        2.1           BHD           1.99           0.8           0.43          12  3.857407e+10                             99.4                              50.5              6.1                    Riffa            77.2                    14.0          NaN                  Arabic                          25.1                   0.93  1.501635e+06                               73.4         4.2          13.8              0.71         1467109.0      NaN       NaN           Asia
13           13        13                        Bangladesh          1265.0           BD              70.6    148460.0         221000.0      18.18        880.0                   Dhaka        84246.0   179.68        5.6           BDT           2.04          11.0           1.12          13  3.025713e+11                            116.5                              20.6             25.1                    Dhaka            72.3                   173.0         0.51                 Bengali                          71.8                   0.58  1.673108e+08                               59.0         8.8          33.4              4.19        60987417.0      NaN       NaN           Asia
14           14        14                          Barbados           668.0           BB              23.3       430.0           1000.0      10.65          1.0              Bridgetown         1276.0   134.09        4.1           BBD           1.62          14.7           1.81          14  5.209000e+09                             99.4                              65.4             11.3               Bridgetown            79.1                    27.0         3.13                 English                          45.2                   2.48  2.870250e+05                               65.2        27.5          35.6             10.33           89431.0      NaN       NaN  North America
15           15        15                           Belarus            47.0           BY              42.0    207600.0         155000.0       9.90        375.0                   Minsk        58280.0      NaN        5.6           BYN           1.45          42.6           0.60          15  6.308046e+10                            100.5                              87.4              2.6                    Minsk            74.2                     2.0         1.49                 Russian                          34.5                   5.19  9.466856e+06                               64.1        14.7          53.3              4.59         7482982.0      NaN       NaN         Europe
16           16        16                           Belgium           383.0           BE              44.6     30528.0          32000.0      10.30         32.0        City of Brussels        96889.0   117.11        1.4           EUR           1.62          22.6           1.43          16  5.296067e+11                            103.9                              79.7              2.9                 Brussels            81.6                     5.0        10.31                  French                          17.6                   3.07  1.148406e+07                               53.6        24.0          55.4              5.59        11259082.0      NaN       NaN         Europe
17           17        17                            Belize            17.0           BZ               7.0     22966.0           2000.0      20.79        501.0                Belmopan          568.0   105.68       -0.9           BZD           2.31          59.7           1.13          17  1.879614e+09                            111.7                              24.7             11.2              Belize City            74.5                    36.0         1.65                 English                          22.7                   1.12  3.903530e+05                               65.1        26.3          31.1              6.41          179039.0      NaN       NaN  North America
18           18        18                             Benin           108.0           BJ              33.3    112622.0          12000.0      36.22        229.0              Porto-Novo         6476.0   110.71       -0.9           XOF           4.84          37.8           0.72          18  1.439071e+10                            122.0                              12.3             60.5                  Cotonou            61.5                   397.0         0.39                  French                          40.5                   0.08  1.180115e+07                               70.9        10.8          48.9              2.23         5648149.0      NaN       NaN         Africa
19           19        19                            Bhutan            20.0           BT              13.6     38394.0           6000.0      17.26        975.0                 Thimphu         1261.0   167.18        2.7           NaN           1.98          72.5           0.98          19  2.446674e+09                            100.1                              15.6             24.8                  Thimphu            71.5                   183.0         0.32                Dzongkha                          19.8                   0.42  7.271450e+05                               66.7        16.0          35.3              2.34          317538.0      NaN       NaN           Asia
20           20        20                           Bolivia            11.0           BO              34.8   1098581.0          71000.0      21.75        591.0                   Sucre        21606.0   148.32        1.8           BOB           2.73          50.3           0.71          20  4.089532e+10                             98.2                               NaN             21.8  Santa Cruz de la Sierra            71.2                   155.0         1.36                 Spanish                          25.9                   1.59  1.151310e+07                               71.8        17.0          83.7              3.50         8033035.0      NaN       NaN  South America
21           21        21            Bosnia and Herzegovina            64.0           BA              43.1     51197.0          11000.0       8.11        387.0                Sarajevo        21848.0   104.90        0.6           BAM           1.27          42.7           1.05          21  2.004785e+10                              NaN                              23.3              5.0             Tuzla Canton            77.3                    10.0         1.04                 Bosnian                          28.6                   2.16  3.301000e+06                               46.4        20.4          23.7             18.42         1605144.0      NaN       NaN         Europe
22           22        22                          Botswana             4.0           BW              45.6    581730.0           9000.0      24.82        267.0                Gaborone         6340.0   149.75        2.8           BWP           2.87          18.9           0.71          22  1.834051e+10                            103.2                              24.9             30.0                 Gaborone            69.3                   144.0         0.29                 English                           5.3                   0.37  2.346179e+06                               70.8        19.5          25.1             18.19         1616550.0      NaN       NaN         Africa
23           23        23                            Brazil            25.0           BR              33.9   8515770.0         730000.0      13.92         55.0                 Bras���       462299.0   167.40        3.7           BRL           1.73          58.9           1.02          23  1.839758e+12                            115.4                              51.3             12.8                    S����            75.7                    60.0         1.53              Portuguese                          28.3                   2.15  2.125594e+08                               63.9        14.2          65.1             12.08       183241641.0      NaN       NaN  South America
24           24        24                            Brunei            83.0           BN               2.7      5765.0           8000.0      14.90        673.0     Bandar Seri Begawan         7664.0    99.03       -0.4           BND           1.85          72.1           0.37          24  1.346942e+10                            103.2                              31.4              9.8                      NaN            75.7                    31.0          NaN                   Malay                           6.0                   1.61  4.332850e+05                               64.7         NaN           8.0              9.12          337711.0      NaN       NaN           Asia
25           25        25                          Bulgaria            64.0           BG              46.3    110879.0          31000.0       8.90        359.0                   Sofia        41708.0   114.42        3.1           BGN           1.56          35.4           1.11          25  8.600000e+10                             89.3                              71.0              5.9                    Sofia            74.9                    10.0         1.57               Bulgarian                          47.7                   4.03  6.975761e+06                               55.4        20.2          28.3              4.34         5256027.0      NaN       NaN         Europe
26           26        26                      Burkina Faso            76.0           BF              44.2    274200.0          11000.0      37.93        226.0             Ouagadougou         3418.0   106.58       -3.2           XOF           5.19          19.3           0.98          26  1.574581e+10                             96.1                               6.5             49.0              Ouagadougou            61.2                   320.0         0.34                  French                          36.1                   0.08  2.032138e+07                               66.4        15.0          41.3              6.26         6092349.0      NaN       NaN         Africa
27           27        27                           Burundi           463.0           BI              79.2     27830.0          31000.0      39.01        257.0               Bujumbura          495.0   182.11       -0.7           BIF           5.41          10.9           1.21          27  3.012335e+09                            121.4                               6.1             41.0                Bujumbura            61.2                   548.0          NaN                 Kirundi                          19.1                   0.10  1.153058e+07                               79.2        13.6          41.2              1.43         1541177.0      NaN       NaN         Africa

In [76]:
df_pair4.columns

Index(['Unnamed: 0', 'unnamed0', 'country', 'density(p/km2)', 'abbreviation',
       'agriculturalland', 'landarea', 'armedforcessize', 'birthrate',
       'callingcode', 'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent'],
      dtype='object')

1. ¿Cuál es la densidad de población promedio por continente?

In [77]:
densidad_poblacion = df_pair4.groupby('continent')['density(p/km2)'].mean() #da todo nulo porque los datos de la densidad son todos nulos, no sé si lo borraríamos en la lección anterior o algo pero el código estoy casi segura que debería ser este
densidad_poblacion

continent
Africa           105.094340
Asia             445.347826
Europe           814.976744
North America    188.826087
South America     25.000000
Name: density(p/km2), dtype: float64

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [78]:
esperanza_vida_promedio = df_pair4.groupby("officiallanguage")["lifeexpectancy"].mean()
esperanza_vida_promedio

officiallanguage
Afrikaans            63.900000
Albanian             78.500000
Amharic              66.200000
Arabic               72.864706
Armenian             74.900000
                       ...
Tuvaluan Language          NaN
Ukrainian            71.600000
Urdu                 67.100000
Uzbek                71.600000
Vietnamese           75.300000
Name: lifeexpectancy, Length: 76, dtype: float64

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [79]:
tasa_mortalidad_infantil = df_pair4.groupby("currency-code")["infantmortality"].mean()
tasa_mortalidad_infantil

currency-code
AED     6.500000
AFN    47.900000
ALL     7.800000
AMD    11.000000
AOA    51.600000
         ...
XCD    15.183333
XOF    51.512500
YER    42.900000
ZAR    28.500000
ZMW    40.400000
Name: infantmortality, Length: 133, dtype: float64

4. ¿Cuál es el salario mínimo por continente?

In [80]:
salario_min_continent = df_pair4.groupby("continent")["minimumwage"].mean() 
salario_min_continent

continent
Africa           0.530000
Asia             1.498611
Europe           4.590968
North America    2.266190
South America    1.582727
Name: minimumwage, dtype: float64

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [81]:
#1.Calcular la tasa de impuestos total para cada país 
df_pair4["total_tax_per_capita"] = df_pair4["totaltaxrate"] * df_pair4["population"]

In [82]:
#2.Calcular la densidad de población para cada continente.
densidad_poblacion_promedio = df_pair4.groupby("continent")["density(p/km2)"].mean()
densidad_poblacion_promedio

continent
Africa           105.094340
Asia             445.347826
Europe           814.976744
North America    188.826087
South America     25.000000
Name: density(p/km2), dtype: float64

In [83]:
#3.Calcular la tasa de impuestos total por persona por kilómetro cuadrado
df_pair4["total_tax_per_km"] = df_pair4["total_tax_per_capita"] / df_pair4["density(p/km2)"]

In [84]:
#4. Encontrar el país que tiene el valor más alto en esta nueva columna calculada.
# Usar el método idxmax(), para encontrar el indice del pais con el valor máximo en la columna.
pais_maximo = df_pair4.loc[df_pair4["total_tax_per_km"].idxmax(), "country"]

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [85]:
porcentaje_poblacion_urbana = df_pair4.groupby('continent')['urban_population'].mean()
porcentaje_poblacion_urbana

continent
Africa           1.080102e+07
Asia             4.937484e+07
Europe           1.347436e+07
North America    2.002709e+07
South America    2.999807e+07
Name: urban_population, dtype: float64

7.¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [86]:
# Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
diferencia_pib_salud_idioma = df_pair4.groupby("officiallanguage")[["gdp", "outofpockethealthexpenditure"]].mean()

In [87]:
# Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio
diferencia_pib_salud_idioma["diferencia"] = diferencia_pib_salud_idioma["gdp"] - diferencia_pib_salud_idioma["outofpockethealthexpenditure"]
diferencia_pib_salud_idioma

                            gdp  outofpockethealthexpenditure    diferencia
officiallanguage
Afrikaans          3.514316e+11                           7.7  3.514316e+11
Albanian           1.527808e+10                          56.9  1.527808e+10
Amharic            9.610766e+10                          37.8  9.610766e+10
Arabic             1.366153e+11                          38.0  1.366153e+11
Armenian           1.367280e+10                          81.6  1.367280e+10
...                         ...                           ...           ...
Tuvaluan Language  4.727146e+07                           0.7  4.727146e+07
Ukrainian          1.537811e+11                          47.8  1.537811e+11
Urdu               3.044000e+11                          66.5  3.044000e+11
Uzbek              5.792129e+10                          42.7  5.792129e+10
Vietnamese         2.619212e+11                          43.5  2.619212e+11

[76 rows x 3 columns]

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

In [88]:
#1. Calcular la tasa de maternidad promedio para cada continente. 
maternidad_promedio_continente = df_pair4.groupby("continent")["maternalmortalityratio"].mean()
maternidad_promedio_continente

continent
Africa           418.000000
Asia              74.760870
Europe             7.810811
North America     75.619048
South America     88.083333
Name: maternalmortalityratio, dtype: float64

In [89]:
# 2.Calcular la tasa de impuestos total promedio para cada continente. 
tasa_impuesto_continente = df_pair4.groupby("continent")["totaltaxrate"].mean()
tasa_impuesto_continente

continent
Africa           47.770588
Asia             32.370455
Europe           38.969231
North America    40.700000
South America    53.341667
Name: totaltaxrate, dtype: float64

In [90]:
# 3.Dividir la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
relacion_tasas_maternidad_impuestos = maternidad_promedio_continente / tasa_impuesto_continente
relacion_tasas_maternidad_impuestos

continent
Africa           8.750154
Asia             2.309540
Europe           0.200435
North America    1.857962
South America    1.651304
dtype: float64

In [91]:
# 4.Encontrar el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.
# Calcular la diferencia entre la tasa de maternidad y la tasa de impuestos total
df_pair4['diferencia_maternidad_impuestos'] = df_pair4['maternalmortalityratio'] - df_pair4['totaltaxrate']
# Encontrar el país con la mayor diferencia
pais_max_diferencia = df_pair4.loc[df_pair4['diferencia_maternidad_impuestos'].idxmax(), 'country']

In [92]:
pais_max_diferencia

'South Sudan'

## Ejercicios BONUS groupby:

In [45]:
df_pair4.columns

Index(['Unnamed: 0', 'unnamed0', 'country', 'density(p/km2)', 'abbreviation',
       'agriculturalland', 'landarea', 'armedforcessize', 'birthrate',
       'callingcode', 'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent', 'total_tax_per_capita', 'total_tax_per_km',
       'diferencia_maternidad_impuestos'],
      dtype='object')

9. ¿Cuál es la tasa de natalidad máxima y área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

In [60]:
df_conttinent_landarea = df_pair4.groupby(["continent", "landarea"])
df_conttinent_landarea

KeyError: 'Continent'

In [51]:
df_conttinent_landarea.ngroups # me dice que se forman cero grupos con estas combinacion asique o he entendido mal el enunciado o poco se puede hacer a partir de aquí

0

In [ ]:
#resultado = df_pair4.groupby(["continent", "landarea"])['fertilityrate'].maxt()

In [60]:
# RESOLUCION BEA
df_conttinent_landarea = df_pair4.groupby(["Continent", "landarea"])
df_conttinent_landarea

In [62]:
max_fertility_forest = df_conttinent_landarea["fertilityrate"].max()
max_fertility_forest

Series([], Name: fertilityrate, dtype: float64)

In [ ]:
fertility_country = df_conttinent_landarea.apply(lambda x: x.loc[x["fertilityrate"].idxmax()])
fertility_country

In [64]:
max_fertility_forest
fertility_country

NameError: name 'fertility_country' is not defined

10. ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?

In [93]:
# Calcular la tasa de impuestos total promedio por continente
impuestos_promedio_por_continente = df_pair4.groupby('continent')['totaltaxrate'].mean()
impuestos_promedio_por_continente

continent
Africa           47.770588
Asia             32.370455
Europe           38.969231
North America    40.700000
South America    53.341667
Name: totaltaxrate, dtype: float64

In [94]:
# Calcular la tasa de desempleo promedio por continente
desempleo_promedio_por_continente = df_pair4.groupby('continent')['unemploymentrate'].mean()
desempleo_promedio_por_continente

continent
Africa           7.884902
Asia             5.682826
Europe           6.687027
North America    8.256316
South America    7.580833
Name: unemploymentrate, dtype: float64

In [95]:
# Calcular la diferencia entre las tasas
diferencia_impuestos_desempleo = impuestos_promedio_por_continente - desempleo_promedio_por_continente
diferencia_impuestos_desempleo

continent
Africa           39.885686
Asia             26.687628
Europe           32.282204
North America    32.443684
South America    45.760833
dtype: float64