# PAIR PROGRAMING - MODULO 3- LECCION 03 - EDA

In [2]:
# Importaciones necesarias
import pandas as pd
import numpy as np

In [3]:
# Apertura y lectura del archivo csv, para la lectura y observaciÃ³n en DataFrame
df_world = pd.read_csv("data/world-data-2023_part1.csv")
df_world

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

## Ejercicios de exploraciÃ³n del conjunto de datos

1. Muestra las primeras 5 filas del conjunto de datos.

2. Muestra las Ãºltimas 5 filas del conjunto de datos.

3. Muestra una muestra aleatoria de 5 filas del conjunto de datos.

4. Muestra el nÃºmero total de filas y columnas en el conjunto de datos.

5. Muestra el nombre de todas las columnas en el conjunto de datos.

6. Muestra los valores Ãºnicos en la columna "Abbreviation".

7. Cuenta cuÃ¡ntas veces aparece cada valor Ãºnico en la columna "Abbreviation".

8. Verifica si hay valores nulos en el conjunto de datos.

9. Verifica si hay valores no nulos en el conjunto de datos.

10. Muestra informaciÃ³n general sobre el conjunto de datos.

11. Elimina una columna especÃ­fica (por ejemplo, "Armed Forces size").

12. Selecciona las columnas numÃ©ricas del conjunto de datos y muestra sus estadÃ­sticas descriptivas bÃ¡sicas (para esto tendrÃ©is que usar el mÃ©todo '.describe(), su documentaciÃ³n la tenÃ©is aquÃ­).

## Ejercicios con loc e iloc

1. Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc.

2. Utilizando loc, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") es mayor a 30.

3. Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrÃ­cola (columna "Fertility Rate") es superior al 3.

4. Encuentra el valor de "Gasoline Price" para el paÃ­s cuya abreviatura es "AL" utilizando loc.

5. Selecciona todas las columnas para el paÃ­s cuya capital es "Tirana" utilizando loc.

6. Filtra el conjunto de datos para mostrar solo las filas donde el Ã­ndice de CPI (columna "CPI") sea igual a 128.85.

7. Encuentra la densidad (columna "Density\n(P/Km2)") para el paÃ­s cuya abreviatura es "AD" utilizando loc.

8. Selecciona las columnas "Country" y "Co2-Emissions".

9. Filtra el conjunto de datos para mostrar solo las filas donde el Ã­ndice de CPI cambiÃ³ un 2% (columna "CPI Change (%)").

10. Encuentra la tasa de natalidad (columna "Birth Rate") para el paÃ­s con la abreviatura "AF" utilizando loc.

11. Selecciona todas las columnas de las filas 3 a 5 (excluyendo la fila 5) utilizando iloc.

12. Selecciona las columnas 1, 3 y 6 para todas las filas utilizando iloc.

13. Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando iloc.

14. Encuentra el valor en la fila 2 y columna 7 utilizando iloc.

15. Selecciona todas las filas para las columnas 0, 2, y 5 utilizando iloc.

16. Selecciona las filas 0, 2 y 4 para todas las columnas utilizando iloc.

17. Encuentra el valor en la Ãºltima fila y la Ãºltima columna utilizando iloc.

18. Selecciona las filas 1 a 3 (inclusive) para todas las columnas utilizando iloc.

19. Selecciona todas las filas para las columnas 1, 4 y 6 utilizando iloc.

20. Encuentra el valor en la fila 4 y columna 2 utilizando iloc.