# PAIR PROGRAMING - MODULO 3- LECCION 02


1. ¿Qué diferencia hay entre una Serie y un DataFrame?

Una serie es una estructura de datos unidimensional que puede contener cualquier tipo de datos.
Un DataFrame es una estrutura de datos bidimensional que consta de filas y columnas, similar a una hoja de cálculo o una tabla de base de datos.

2. Momento de trabajar con Series. Contesta a las siguientes preguntas:

In [ ]:
import pandas as pd
import numpy as np

2.1 Crea dos listas:

    - Una que se llame "valores" que tenga 7 números aleatorios.

    - Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

In [ ]:
valores = np.random.randint

2.2 A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.

2.3 A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.

2.4 Crea una Serie con el diccionario creado en el punto anterior.

2.5 ¿Qué forma tiene esta última Serie?

2.6 ¿Qué tipo de datos tiene?

2.7 ¿Qué tamaño tiene?

2.8 ¿Cuáles son los índices de la Serie?

2.9 ¿Y los values?

2.10 Extrae el valor para el índice "lunes"

2.11 Extrae el valor para el índice "lunes", "martes" y "miércoles".

2.12 Extrae el valor para el índice "lunes" y "domingo".

3. Es el turno de los DataFrames:

3.1 Crea un array de dos dimensiones con 4 filas y 3 columnas.

3.2 Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

3.3 Descarga el archivo "medallas" y carga el DataFrame.

3.4 Usando el loc extrae todas las columnas de la fila de Tailandia.


3.5 Usando el loc extrae todas las columnas de China e Irán.

3.6 Usando el loc extrae solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

3.7 Usando el iloc extrae la información de la India. Devolved todas las columnas.


3.8 Usando el iloc extrae todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

3.9 Utilizando el código del ejercicio anterior, selecciona unicamente las columnas "Oro", "Plata" y "Bronce".

3.10 Contesta a las siguientes preguntas:

3.11 ¿Qué país consiguió más de 200 medallas de oro?

3.12 ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?

3.13 ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

3.14 Crea una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.