# PAIR PROGRAMING - MODULO 3- LECCION 05 - AGRUPACIÓN DE DATOS Y MÉTODO APPLY

In [2]:
# Intalaciones              !pip install geopy

In [3]:
# Importaciones necesarias
import pandas as pd
import numpy as np
from geopy import Nominatim

In [4]:
# Apertura y lectura del archivo csv, para la lectura y observación en DataFrame
df_pair4 = pd.read_csv("datos_pair4.csv")
df_pair4

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",('28.033886 ','1.659626')
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",('6.42375 ','-66.58973')
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",('14.058324 ','108.277199')
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",('15.552727 ','48.516388')
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",('-13.133897 ','27.849332')
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",('-19.015438 ','29.154857')

In [5]:
df_pair4["latitud"]

0        ('33.93911 '
1       ('41.153332 '
2       ('28.033886 '
3       ('42.506285 '
4      ('-11.202692 '
            ...
190       ('6.42375 '
191     ('14.058324 '
192     ('15.552727 '
193    ('-13.133897 '
194    ('-19.015438 '
Name: latitud, Length: 195, dtype: object

## Ejercicios apply

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [6]:
columns = ['landarea', 'armedforcessize', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitud', 'longitud', 'density', 'cpi']

In [7]:
df_pair4[columns].dtypes

landarea            object
armedforcessize     object
co2-emissions       object
gdp                 object
population          object
urban_population    object
latitud             object
longitud            object
density             object
cpi                 object
dtype: object

In [8]:
df_pair4.head()

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",('28.033886 ','1.659626')
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",('-11.202692 ','17.873887')

In [9]:
df_pair4["latitud"] = df_pair4["latitud"].str.replace("(", "").str.replace("'", "")

/tmp/ipykernel_73851/3577851820.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_pair4["latitud"] = df_pair4["latitud"].str.replace("(", "").str.replace("'", "")

In [10]:
df_pair4["longitud"] = df_pair4["longitud"].str.replace(")", "").str.replace("'", "")

/tmp/ipykernel_73851/787067030.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_pair4["longitud"] = df_pair4["longitud"].str.replace(")", "").str.replace("'", "")

In [11]:
def convert_numeric(valor):
    try:
        valor = valor.replace(",", "")
        return float(valor)
    except:
        return np.nan

In [12]:
for columna in columns:
    df_pair4[columna] = df_pair4[columna].apply(convert_numeric)

In [13]:
df_pair4["landarea"]

0       652230.0
1        28748.0
2      2381741.0
3          468.0
4      1246700.0
         ...
190     912050.0
191     331210.0
192     527968.0
193     752618.0
194     390757.0
Name: landarea, Length: 195, dtype: float64

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [14]:
def agregar_columna_continente(dato):
    continentes_paises = {'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'], 'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
             'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Georgia',
             'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
             'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia',
             'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman',
             'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia',
             'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan',
             'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan', 'United Arab Emirates',
             'Uzbekistan', 'Vietnam', 'Yemen'], 'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
               'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
               'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
               'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
               'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia',
               'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia',
               'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom',
               'Vatican City'], 'North America': ['Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada',
                      'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador',
                      'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico',
                      'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                      'Trinidad and Tobago', 'United States'], 'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
                  'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']}
   
    for continente, paises in continentes_paises.items():
        if dato in paises:
            return continente
            break

In [15]:
df_pair4["continent"] = df_pair4["country"].apply(agregar_columna_continente)

In [16]:
df_pair4.columns

Index(['unnamed0', 'country', 'density', 'abbreviation', 'agriculturalland',
       'landarea', 'armedforcessize', 'birthrate', 'callingcode',
       'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent'],
      dtype='object')

In [17]:
# Opción 2: Ejercicio realizado con lambda:

In [18]:
continentes_paises = {'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'], 'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
             'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Georgia',
             'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
             'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia',
             'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman',
             'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia',
             'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan',
             'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan', 'United Arab Emirates',
             'Uzbekistan', 'Vietnam', 'Yemen'], 'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
               'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
               'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
               'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
               'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia',
               'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia',
               'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom',
               'Vatican City'], 'North America': ['Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada',
                      'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador',
                      'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico',
                      'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                      'Trinidad and Tobago', 'United States'], 'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
                  'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']}

In [19]:
def continente(diccionario, col):
    for k,v in diccionario.items():
        if col in v:
            return k
    
    return np.nan

In [20]:
# df_pair4["continent"] = df_pair4.apply(lambda fila: continente(continentes_paises, fila["country"]), axis = 1)

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [21]:
df_pair4.to_csv("datos_pair5_bien.csv")

## Ejercicios groupby

In [22]:
print(df_pair4.to_string())

     unnamed0                           country  density abbreviation agriculturalland    landarea  armedforcessize  birthrate  callingcode       capital/majorcity  co2-emissions      cpi cpichange currency-code  fertilityrate forestedarea  gasolineprice  unnamed0.1           gdp grossprimaryeducationenrollment grosstertiaryeducationenrollment  infantmortality              largestcity  lifeexpectancy  maternalmortalityratio  minimumwage        officiallanguage outofpockethealthexpenditure  physiciansperthousand    population populationlaborforceparticipation taxrevenue totaltaxrate unemploymentrate  urban_population    latitud    longitud      continent
0           0                       Afghanistan     60.0           AF           58.10%    652230.0         323000.0      32.49         93.0                   Kabul         8672.0   149.90     2.30%           AFN           4.47        2.10%           0.70           0  1.910135e+10                         104.00%                            9.70%             47.9                    Kabul            64.5                   638.0         0.43                  Pashto                       78.40%                   0.28  3.804175e+07                            48.90%      9.30%       71.40%           11.12%         9797273.0  33.939110   67.709953           Asia
1           1                           Albania    105.0           AL           43.10%     28748.0           9000.0      11.78        355.0                  Tirana         4536.0   119.05     1.40%           ALL           1.62       28.10%           1.36           1  1.527808e+10                         107.00%                           55.00%              7.8                   Tirana            78.5                    15.0         1.12                Albanian                       56.90%                   1.20  2.854191e+06                            55.70%     18.60%       36.60%           12.33%         1747593.0  41.153332   20.168331         Europe
2           2                           Algeria     18.0           DZ           17.40%   2381741.0         317000.0      24.28        213.0                 Algiers       150006.0   151.36     2.00%           DZD           3.02        0.80%           0.28           2  1.699882e+11                         109.90%                           51.40%             20.1                  Algiers            76.7                   112.0         0.95                  Arabic                       28.10%                   1.72  4.305305e+07                            41.20%     37.20%       66.10%           11.70%        31510100.0  28.033886    1.659626         Africa
3           3                           Andorra    164.0           AD           40.00%       468.0              NaN       7.20        376.0        Andorra la Vella          469.0      NaN       NaN           EUR           1.27       34.00%           1.51           3  3.154058e+09                         106.40%                              NaN              2.7         Andorra la Vella             NaN                     NaN         6.63                 Catalan                       36.40%                   3.33  7.714200e+04                               NaN        NaN          NaN              NaN           67873.0  42.506285    1.521801         Europe
4           4                            Angola     26.0           AO           47.50%   1246700.0         117000.0      40.73        244.0                  Luanda        34693.0   261.73    17.10%           AOA           5.52       46.30%           0.97           4  9.463542e+10                         113.50%                            9.30%             51.6                   Luanda            60.8                   241.0         0.71              Portuguese                       33.40%                   0.21  3.182530e+07                            77.50%      9.20%       49.10%            6.89%        21061025.0 -11.202692   17.873887         Africa
5           5               Antigua and Barbuda    223.0           AG           20.50%       443.0              0.0      15.33          1.0  St. John's, Saint John          557.0   113.81     1.20%           XCD           1.99       22.30%           0.99           5  1.727759e+09                         105.00%                           24.80%              5.0   St. John's, Saint John            76.9                    42.0         3.04                 English                       24.30%                   2.76  9.711800e+04                               NaN     16.50%       43.00%              NaN           23800.0  17.060816  -61.796428  North America
6           6                         Argentina     17.0           AR           54.30%   2780400.0         105000.0      17.02         54.0            Buenos Aires       201348.0   232.75    53.50%           ARS           2.26        9.80%           1.10           6  4.496634e+11                         109.70%                           90.00%              8.8             Buenos Aires            76.5                    39.0         3.35                 Spanish                       17.60%                   3.96  4.493871e+07                            61.30%     10.10%      106.30%            9.79%        41339571.0 -38.416097  -63.616672  South America
7           7                           Armenia    104.0           AM           58.90%     29743.0          49000.0      13.99        374.0                 Yerevan         5156.0   129.18     1.40%           AMD           1.76       11.70%           0.77           7  1.367280e+10                          92.70%                           54.60%             11.0                  Yerevan            74.9                    26.0         0.66                Armenian                       81.60%                   4.40  2.957731e+06                            55.60%     20.90%       22.60%           16.99%         1869848.0  40.069099   45.038189           Asia
8           8                         Australia      3.0           AU           48.20%   7741220.0          58000.0      12.60         61.0                Canberra       375908.0   119.80     1.60%           AUD           1.74       16.30%           0.93           8  1.392681e+12                         100.30%                          113.10%              3.1                   Sydney            82.7                     6.0        13.59                     NaN                       19.60%                   3.68  2.576660e+07                            65.50%     23.00%       47.40%            5.27%        21844756.0 -25.274398  133.775136           None
9           9                           Austria    109.0           AT           32.40%     83871.0          21000.0       9.70         43.0                  Vienna        61448.0   118.06     1.50%           EUR           1.47       46.90%           1.20           9  4.463147e+11                         103.10%                           85.10%              2.9                   Vienna            81.6                     5.0          NaN                  German                       17.90%                   5.17  8.877067e+06                            60.70%     25.40%       51.40%            4.67%         5194416.0  47.516231   14.550072         Europe
10         10                        Azerbaijan    123.0           AZ           57.70%     86600.0          82000.0      14.00        994.0                    Baku        37620.0   156.32     2.60%           AZN           1.73       14.10%           0.56          10  3.920700e+10                          99.70%                           27.70%             19.2                     Baku            72.9                    26.0         0.47    Azerbaijani language                       78.60%                   3.45  1.002332e+07                            66.50%     13.00%       40.70%            5.51%         5616165.0  40.143105   47.576927           Asia
11         11                       The Bahamas     39.0           BS            1.40%     13880.0           1000.0      13.97          1.0         Nassau, Bahamas         1786.0   116.22     2.50%           NaN           1.75       51.40%           0.92          11  1.282700e+10                          81.40%                           15.10%              8.3          Nassau, Bahamas            73.8                    70.0         5.25                 English                       27.80%                   1.94  3.894820e+05                            74.60%     14.80%       33.80%           10.36%          323784.0  25.034280  -77.396280  North America
12         12                           Bahrain   2239.0           BH           11.10%       765.0          19000.0      13.99        973.0                  Manama        31694.0   117.59     2.10%           BHD           1.99        0.80%           0.43          12  3.857407e+10                          99.40%                           50.50%              6.1                    Riffa            77.2                    14.0          NaN                  Arabic                       25.10%                   0.93  1.501635e+06                            73.40%      4.20%       13.80%            0.71%         1467109.0  26.066700   50.557700           Asia
13         13                        Bangladesh   1265.0           BD           70.60%    148460.0         221000.0      18.18        880.0                   Dhaka        84246.0   179.68     5.60%           BDT           2.04       11.00%           1.12          13  3.025713e+11                         116.50%                           20.60%             25.1                    Dhaka            72.3                   173.0         0.51                 Bengali                       71.80%                   0.58  1.673108e+08                            59.00%      8.80%       33.40%            4.19%        60987417.0  23.684994   90.356331           Asia
14         14                          Barbados    668.0           BB           23.30%       430.0           1000.0      10.65          1.0              Bridgetown         1276.0   134.09     4.10%           BBD           1.62       14.70%           1.81          14  5.209000e+09                          99.40%                           65.40%             11.3               Bridgetown            79.1                    27.0         3.13                 English                       45.20%                   2.48  2.870250e+05                            65.20%     27.50%       35.60%           10.33%           89431.0  13.193887  -59.543198  North America
15         15                           Belarus     47.0           BY           42.00%    207600.0         155000.0       9.90        375.0                   Minsk        58280.0      NaN     5.60%           BYN           1.45       42.60%           0.60          15  6.308046e+10                         100.50%                           87.40%              2.6                    Minsk            74.2                     2.0         1.49                 Russian                       34.50%                   5.19  9.466856e+06                            64.10%     14.70%       53.30%            4.59%         7482982.0  53.709807   27.953389         Europe
16         16                           Belgium    383.0           BE           44.60%     30528.0          32000.0      10.30         32.0        City of Brussels        96889.0   117.11     1.40%           EUR           1.62       22.60%           1.43          16  5.296067e+11                         103.90%                           79.70%              2.9                 Brussels            81.6                     5.0        10.31                  French                       17.60%                   3.07  1.148406e+07                            53.60%     24.00%       55.40%            5.59%        11259082.0  50.503887    4.469936         Europe
17         17                            Belize     17.0           BZ            7.00%     22966.0           2000.0      20.79        501.0                Belmopan          568.0   105.68    -0.90%           BZD           2.31       59.70%           1.13          17  1.879614e+09                         111.70%                           24.70%             11.2              Belize City            74.5                    36.0         1.65                 English                       22.70%                   1.12  3.903530e+05                            65.10%     26.30%       31.10%            6.41%          179039.0  17.189877  -88.497650  North America
18         18                             Benin    108.0           BJ           33.30%    112622.0          12000.0      36.22        229.0              Porto-Novo         6476.0   110.71    -0.90%           XOF           4.84       37.80%           0.72          18  1.439071e+10                         122.00%                           12.30%             60.5                  Cotonou            61.5                   397.0         0.39                  French                       40.50%                   0.08  1.180115e+07                            70.90%     10.80%       48.90%            2.23%         5648149.0   9.307690    2.315834         Africa
19         19                            Bhutan     20.0           BT           13.60%     38394.0           6000.0      17.26        975.0                 Thimphu         1261.0   167.18     2.70%           NaN           1.98       72.50%           0.98          19  2.446674e+09                         100.10%                           15.60%             24.8                  Thimphu            71.5                   183.0         0.32                Dzongkha                       19.80%                   0.42  7.271450e+05                            66.70%     16.00%       35.30%            2.34%          317538.0  27.514162   90.433601           Asia
20         20                           Bolivia     11.0           BO           34.80%   1098581.0          71000.0      21.75        591.0                   Sucre        21606.0   148.32     1.80%           BOB           2.73       50.30%           0.71          20  4.089532e+10                          98.20%                              NaN             21.8  Santa Cruz de la Sierra            71.2                   155.0         1.36                 Spanish                       25.90%                   1.59  1.151310e+07                            71.80%     17.00%       83.70%            3.50%         8033035.0 -16.290154  -63.588653  South America
21         21            Bosnia and Herzegovina     64.0           BA           43.10%     51197.0          11000.0       8.11        387.0                Sarajevo        21848.0   104.90     0.60%           BAM           1.27       42.70%           1.05          21  2.004785e+10                             NaN                           23.30%              5.0             Tuzla Canton            77.3                    10.0         1.04                 Bosnian                       28.60%                   2.16  3.301000e+06                            46.40%     20.40%       23.70%           18.42%         1605144.0  43.915886   17.679076         Europe
22         22                          Botswana      4.0           BW           45.60%    581730.0           9000.0      24.82        267.0                Gaborone         6340.0   149.75     2.80%           BWP           2.87       18.90%           0.71          22  1.834051e+10                         103.20%                           24.90%             30.0                 Gaborone            69.3                   144.0         0.29                 English                        5.30%                   0.37  2.346179e+06                            70.80%     19.50%       25.10%           18.19%         1616550.0 -22.328474   24.684866         Africa
23         23                            Brazil     25.0           BR           33.90%   8515770.0         730000.0      13.92         55.0                 Bras���       462299.0   167.40     3.70%           BRL           1.73       58.90%           1.02          23  1.839758e+12                         115.40%                           51.30%             12.8                    S����            75.7                    60.0         1.53              Portuguese                       28.30%                   2.15  2.125594e+08                            63.90%     14.20%       65.10%           12.08%       183241641.0 -14.235004  -51.925280  South America
24         24                            Brunei     83.0           BN            2.70%      5765.0           8000.0      14.90        673.0     Bandar Seri Begawan         7664.0    99.03    -0.40%           BND           1.85       72.10%           0.37          24  1.346942e+10                         103.20%                           31.40%              9.8                      NaN            75.7                    31.0          NaN                   Malay                        6.00%                   1.61  4.332850e+05                            64.70%        NaN        8.00%            9.12%          337711.0   4.535277  114.727669           Asia
25         25                          Bulgaria     64.0           BG           46.30%    110879.0          31000.0       8.90        359.0                   Sofia        41708.0   114.42     3.10%           BGN           1.56       35.40%           1.11          25  8.600000e+10                          89.30%                           71.00%              5.9                    Sofia            74.9                    10.0         1.57               Bulgarian                       47.70%                   4.03  6.975761e+06                            55.40%     20.20%       28.30%            4.34%         5256027.0  42.733883   25.485830         Europe
26         26                      Burkina Faso     76.0           BF           44.20%    274200.0          11000.0      37.93        226.0             Ouagadougou         3418.0   106.58    -3.20%           XOF           5.19       19.30%           0.98          26  1.574581e+10                          96.10%                            6.50%             49.0              Ouagadougou            61.2                   320.0         0.34                  French                       36.10%                   0.08  2.032138e+07                            66.40%     15.00%       41.30%            6.26%         6092349.0  12.238333   -1.561593         Africa
27         27                           Burundi    463.0           BI           79.20%     27830.0          31000.0      39.01        257.0               Bujumbura          495.0   182.11    -0.70%           BIF           5.41       10.90%           1.21          27  3.012335e+09                         121.40%                            6.10%             41.0                Bujumbura            61.2                   548.0          NaN                 Kirundi                       19.10%                   0.10  1.153058e+07                            79.20%     13.60%       41.20%            1.43%         1541177.0  -3.373056   29.918886         Africa
28         28                       Ivory Coast     83.0           CI           64.80%    322463.0          27000.0      35.74        225.0            Yamoussoukro         9674.0   111.61    -0.90%           XOF           4.65       32.70%           0.93          28  5.879221e+10                          99.80%                            9.30%             59.4                  Abidjan            57.4                   617.0         0.36                  French                       36.00%                   0.23  2.571654e+07                            57.00%     11.80%       50.10%            3.32%        13176900.0   7.539989   -5.547080         Africa

In [23]:
df_pair4.columns

Index(['unnamed0', 'country', 'density', 'abbreviation', 'agriculturalland',
       'landarea', 'armedforcessize', 'birthrate', 'callingcode',
       'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent'],
      dtype='object')

1. ¿Cuál es la densidad de población promedio por continente?

In [24]:
densidad_poblacion = df_pair4.groupby('continent')['density'].mean() 
densidad_poblacion

continent
Africa           105.094340
Asia             445.347826
Europe           814.976744
North America    188.826087
South America     25.000000
Name: density, dtype: float64

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [25]:
esperanza_vida_promedio = df_pair4.groupby("officiallanguage")["lifeexpectancy"].mean()
esperanza_vida_promedio

officiallanguage
Afrikaans            63.900000
Albanian             78.500000
Amharic              66.200000
Arabic               72.864706
Armenian             74.900000
                       ...
Tuvaluan Language          NaN
Ukrainian            71.600000
Urdu                 67.100000
Uzbek                71.600000
Vietnamese           75.300000
Name: lifeexpectancy, Length: 76, dtype: float64

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [26]:
tasa_mortalidad_infantil = df_pair4.groupby("currency-code")["infantmortality"].mean()
tasa_mortalidad_infantil

currency-code
AED     6.500000
AFN    47.900000
ALL     7.800000
AMD    11.000000
AOA    51.600000
         ...
XCD    15.183333
XOF    51.512500
YER    42.900000
ZAR    28.500000
ZMW    40.400000
Name: infantmortality, Length: 133, dtype: float64

4. ¿Cuál es el salario mínimo por continente?

In [27]:
salario_min_continent = df_pair4.groupby("continent")["minimumwage"].mean() 
salario_min_continent

continent
Africa           0.530000
Asia             1.498611
Europe           4.590968
North America    2.266190
South America    1.582727
Name: minimumwage, dtype: float64

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [28]:
df_pair4["totaltaxrate"]

0      71.40%
1      36.60%
2      66.10%
3         NaN
4      49.10%
        ...
190    73.30%
191    37.60%
192    26.60%
193    15.60%
194    31.60%
Name: totaltaxrate, Length: 195, dtype: object

In [29]:
df_pair4["totaltaxrate"] = df_pair4["totaltaxrate"].str.replace("%","").astype(float)

In [30]:
# 1.Calcular la tasa de impuestos total para cada país 
df_pair4["total_tax_per_capita"] = df_pair4["totaltaxrate"] * df_pair4["population"]

In [31]:
# 2.Calcular la densidad de población para cada continente.
densidad_poblacion_promedio = df_pair4.groupby("continent")["density"].mean()
densidad_poblacion_promedio

continent
Africa           105.094340
Asia             445.347826
Europe           814.976744
North America    188.826087
South America     25.000000
Name: density, dtype: float64

In [32]:
# 3.Calcular la tasa de impuestos total por persona por kilómetro cuadrado
df_pair4["total_tax_per_km"] = df_pair4["total_tax_per_capita"] / df_pair4["density"]

In [33]:
# 4. Encontrar el país que tiene el valor más alto en esta nueva columna calculada.
# Usar el método idxmax(), para encontrar el indice del pais con el valor máximo en la columna.
pais_maximo = df_pair4.loc[df_pair4["total_tax_per_km"].idxmax(), "country"]

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [34]:
porcentaje_poblacion_urbana = df_pair4.groupby('continent')['urban_population'].mean()
porcentaje_poblacion_urbana

continent
Africa           1.080102e+07
Asia             4.937484e+07
Europe           1.347436e+07
North America    2.002709e+07
South America    2.999807e+07
Name: urban_population, dtype: float64

7.¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [35]:
df_pair4["outofpockethealthexpenditure"]

0      78.40%
1      56.90%
2      28.10%
3      36.40%
4      33.40%
        ...
190    45.80%
191    43.50%
192    81.00%
193    27.50%
194    25.80%
Name: outofpockethealthexpenditure, Length: 195, dtype: object

In [36]:
df_pair4["outofpockethealthexpenditure"] = df_pair4["outofpockethealthexpenditure"].str.replace("%","").astype(float)

In [37]:
# Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
diferencia_pib_salud_idioma = df_pair4.groupby("officiallanguage")[["gdp", "outofpockethealthexpenditure"]].mean()

In [38]:
# Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio
diferencia_pib_salud_idioma["diferencia"] = diferencia_pib_salud_idioma["gdp"] - diferencia_pib_salud_idioma["outofpockethealthexpenditure"]
diferencia_pib_salud_idioma

                            gdp  outofpockethealthexpenditure    diferencia
officiallanguage
Afrikaans          3.514316e+11                           7.7  3.514316e+11
Albanian           1.527808e+10                          56.9  1.527808e+10
Amharic            9.610766e+10                          37.8  9.610766e+10
Arabic             1.366153e+11                          38.0  1.366153e+11
Armenian           1.367280e+10                          81.6  1.367280e+10
...                         ...                           ...           ...
Tuvaluan Language  4.727146e+07                           0.7  4.727146e+07
Ukrainian          1.537811e+11                          47.8  1.537811e+11
Urdu               3.044000e+11                          66.5  3.044000e+11
Uzbek              5.792129e+10                          42.7  5.792129e+10
Vietnamese         2.619212e+11                          43.5  2.619212e+11

[76 rows x 3 columns]

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

In [39]:
# 1. Calcular la tasa de maternidad promedio para cada continente. 
maternidad_promedio_continente = df_pair4.groupby("continent")["maternalmortalityratio"].mean()
maternidad_promedio_continente

continent
Africa           418.000000
Asia              74.760870
Europe             7.810811
North America     75.619048
South America     88.083333
Name: maternalmortalityratio, dtype: float64

In [40]:
# 2.Calcular la tasa de impuestos total promedio para cada continente. 
tasa_impuesto_continente = df_pair4.groupby("continent")["totaltaxrate"].mean()
tasa_impuesto_continente

continent
Africa           47.770588
Asia             32.370455
Europe           38.969231
North America    40.700000
South America    53.341667
Name: totaltaxrate, dtype: float64

In [41]:
# 3.Dividir la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
relacion_tasas_maternidad_impuestos = maternidad_promedio_continente / tasa_impuesto_continente
relacion_tasas_maternidad_impuestos

continent
Africa           8.750154
Asia             2.309540
Europe           0.200435
North America    1.857962
South America    1.651304
dtype: float64

In [42]:
# 4.Encontrar el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.
# Calcular la diferencia entre la tasa de maternidad y la tasa de impuestos total
df_pair4['diferencia_maternidad_impuestos'] = df_pair4['maternalmortalityratio'] - df_pair4['totaltaxrate']
# Encontrar el país con la mayor diferencia
pais_max_diferencia = df_pair4.loc[df_pair4['diferencia_maternidad_impuestos'].idxmax(), 'country']

In [43]:
pais_max_diferencia

'South Sudan'

## Ejercicios BONUS groupby:

In [58]:
df_pair4.columns

Index(['unnamed0', 'country', 'density', 'abbreviation', 'agriculturalland',
       'landarea', 'armedforcessize', 'birthrate', 'callingcode',
       'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent', 'total_tax_per_capita', 'total_tax_per_km',
       'diferencia_maternidad_impuestos'],
      dtype='object')

9. ¿Cuál es la tasa de natalidad máxima y área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

In [56]:
# Agrupar por continente y encontrar la tasa de natalidad máxima y el área forestal máxima
continent_fertility = df_pair4.groupby("continent")[["birthrate", "forestedarea"]].max()
continent_fertility

/tmp/ipykernel_73851/4206385995.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  continent_fertility = df_pair4.groupby("continent")[["birthrate", "forestedarea"]].max()

               birthrate
continent
Africa             46.08
Asia               32.49
Europe             12.00
North America      24.56
South America      21.75

In [57]:
# Calcular la tasa de natalidad por punto porcentual de área forestal
continent_fertility["birthrate_per_forest_area"] = continent_fertility["birthrate"] / continent_fertility["forestedarea"]

# Mostrar el resultado
print(continent_fertility)

KeyError: 'forestedarea'

10. ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?

In [ ]:
# Calcular la tasa de impuestos total promedio por continente
impuestos_promedio_por_continente = df_pair4.groupby('continent')['totaltaxrate'].mean()
impuestos_promedio_por_continente

continent
Africa           47.770588
Asia             32.370455
Europe           38.969231
North America    40.700000
South America    53.341667
Name: totaltaxrate, dtype: float64

In [ ]:
# Calcular la tasa de desempleo promedio por continente
desempleo_promedio_por_continente = df_pair4.groupby('continent')['unemploymentrate'].mean()
desempleo_promedio_por_continente

In [ ]:
# Calcular la diferencia entre las tasas
diferencia_impuestos_desempleo = impuestos_promedio_por_continente - desempleo_promedio_por_continente
diferencia_impuestos_desempleo

continent
Africa           39.885686
Asia             26.687628
Europe           32.282204
North America    32.443684
South America    45.760833
dtype: float64

# Guardar csv pair 05

In [ ]:
df_pair4.head()

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud,continent,total_tax_per_capita,total_tax_per_km,diferencia_maternidad_impuestos
0,0,Afghanistan,60.0,AF,58.10%,652230.0,323000.0,32.49,93.0,Kabul,...,9.30%,71.4,11.12%,9797273.0,33.939110,67.709953,Asia,2.716181e+09,4.526969e+07,566.6
1,1,Albania,105.0,AL,43.10%,28748.0,9000.0,11.78,355.0,Tirana,...,18.60%,36.6,12.33%,1747593.0,41.153332,20.168331,Europe,1.044634e+08,9.948894e+05,-21.6
2,2,Algeria,18.0,DZ,17.40%,2381741.0,317000.0,24.28,213.0,Algiers,...,37.20%,66.1,11.70%,31510100.0,28.033886,1.659626,Africa,2.845807e+09,1.581004e+08,45.9
3,3,Andorra,164.0,AD,40.00%,468.0,NaN,7.20,376.0,Andorra la Vella,...,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe,NaN,NaN,NaN
4,4,Angola,26.0,AO,47.50%,1246700.0,117000.0,40.73,244.0,Luanda,...,9.20%,49.1,6.89%,21061025.0,-11.202692,17.873887,Africa,1.562622e+09,6.010085e+07,191.9

In [ ]:
df_pair4.to_csv('datos_pair5_bien_final.csv', index=False)