# PAIR PROGRAMING - MODULO 3- LECCION 06 - GESTION DE NULOS

En este pair programming usaremos el csv que generamos en el pair programming de ayer. El objetivo del ejercicio es identificar las columnas que contienen valores nulos y aplicar un proceso de imputación para manejarlos de manera adecuada.

Instrucciones:

1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

Nota: Puedes utilizar cualquier método o estrategia de imputación que consideres adecuado para los datos y discutir las ventajas y desventajas de tu elección en el informe.

In [2]:
# Importaciones necesarias
import pandas as pd
import numpy as np

In [5]:
# Apertura y lectura del archivo csv, para la lectura y observación en DataFrame
df = pd.read_csv("datos_pair5.csv")
df

,Unnamed: 0.1,Unnamed: 0,unnamed0,country,density(p/km2),abbreviation,agriculturalland,landarea,armedforcessize,birthrate,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud,continent
0,0,0,0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,...,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,NaN,NaN,Asia
1,1,1,1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,...,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,NaN,NaN,Europe
2,2,2,2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,...,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,NaN,NaN,Africa
3,3,3,3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,...,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,NaN,NaN,Europe
4,4,4,4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,...,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,NaN,NaN,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,190,190,Venezuela,32.0,VE,24.5,912050.0,343000.0,17.88,...,1.92,28515829.0,59.7,NaN,73.3,8.80,25162368.0,NaN,NaN,South America
191,191,191,191,Vietnam,314.0,VN,39.3,331210.0,522000.0,16.75,...,0.82,96462106.0,77.4,19.1,37.6,2.01,35332140.0,NaN,NaN,Asia
192,192,192,192,Yemen,56.0,YE,44.6,527968.0,40000.0,30.45,...,0.31,29161922.0,38.0,NaN,26.6,12.91,10869523.0,NaN,NaN,Asia
193,193,193,193,Zambia,25.0,ZM,32.1,752618.0,16000.0,36.19,...,1.19,17861030.0,74.6,16.2,15.6,11.43,7871713.0,NaN,NaN,Africa
194,194,194,194,Zimbabwe,38.0,ZW,41.9,390757.0,51000.0,30.68,...,0.21,14645468.0,83.1,20.7,31.6,4.95,4717305.0,NaN,NaN,Africa

In [6]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'unnamed0', 'country', 'density(p/km2)',
       'abbreviation', 'agriculturalland', 'landarea', 'armedforcessize',
       'birthrate', 'callingcode', 'capital/majorcity', 'co2-emissions', 'cpi',
       'cpichange', 'currency-code', 'fertilityrate', 'forestedarea',
       'gasolineprice', 'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent'],
      dtype='object')

In [7]:
# Obtener las columnas con valores nulos y su porcentaje
nulos_por_columna = df.isnull().sum()
nulos_por_columna

Unnamed: 0.1                           0
Unnamed: 0                             0
unnamed0                               0
country                                0
density(p/km2)                         0
abbreviation                           7
agriculturalland                       7
landarea                               1
armedforcessize                       24
birthrate                              6
callingcode                            1
capital/majorcity                      3
co2-emissions                          7
cpi                                   17
cpichange                             16
currency-code                         15
fertilityrate                          7
forestedarea                           7
gasolineprice                         20
unnamed0.1                             0
gdp                                    2
grossprimaryeducationenrollment        7
grosstertiaryeducationenrollment      12
infantmortality                        6
largestcity                            6
lifeexpectancy                         8
maternalmortalityratio                14
minimumwage                           45
officiallanguage                       5
outofpockethealthexpenditure           7
physiciansperthousand                  7
population                             1
populationlaborforceparticipation     19
taxrevenue                            26
totaltaxrate                          12
unemploymentrate                      19
urban_population                       5
latitud                              195
longitud                             195
continent                             18
dtype: int64

In [8]:
porcentaje_nulos = (nulos_por_columna / len(df)) * 100
porcentaje_nulos

Unnamed: 0.1                           0.000000
Unnamed: 0                             0.000000
unnamed0                               0.000000
country                                0.000000
density(p/km2)                         0.000000
abbreviation                           3.589744
agriculturalland                       3.589744
landarea                               0.512821
armedforcessize                       12.307692
birthrate                              3.076923
callingcode                            0.512821
capital/majorcity                      1.538462
co2-emissions                          3.589744
cpi                                    8.717949
cpichange                              8.205128
currency-code                          7.692308
fertilityrate                          3.589744
forestedarea                           3.589744
gasolineprice                         10.256410
unnamed0.1                             0.000000
gdp                                    1.025641
grossprimaryeducationenrollment        3.589744
grosstertiaryeducationenrollment       6.153846
infantmortality                        3.076923
largestcity                            3.076923
lifeexpectancy                         4.102564
maternalmortalityratio                 7.179487
minimumwage                           23.076923
officiallanguage                       2.564103
outofpockethealthexpenditure           3.589744
physiciansperthousand                  3.589744
population                             0.512821
populationlaborforceparticipation      9.743590
taxrevenue                            13.333333
totaltaxrate                           6.153846
unemploymentrate                       9.743590
urban_population                       2.564103
latitud                              100.000000
longitud                             100.000000
continent                              9.230769
dtype: float64

In [9]:
# Calcular el porcentaje de nulos que tenemos para cada columna:
(df.isnull().sum() / df.shape[0]) * 100

Unnamed: 0.1                           0.000000
Unnamed: 0                             0.000000
unnamed0                               0.000000
country                                0.000000
density(p/km2)                         0.000000
abbreviation                           3.589744
agriculturalland                       3.589744
landarea                               0.512821
armedforcessize                       12.307692
birthrate                              3.076923
callingcode                            0.512821
capital/majorcity                      1.538462
co2-emissions                          3.589744
cpi                                    8.717949
cpichange                              8.205128
currency-code                          7.692308
fertilityrate                          3.589744
forestedarea                           3.589744
gasolineprice                         10.256410
unnamed0.1                             0.000000
gdp                                    1.025641
grossprimaryeducationenrollment        3.589744
grosstertiaryeducationenrollment       6.153846
infantmortality                        3.076923
largestcity                            3.076923
lifeexpectancy                         4.102564
maternalmortalityratio                 7.179487
minimumwage                           23.076923
officiallanguage                       2.564103
outofpockethealthexpenditure           3.589744
physiciansperthousand                  3.589744
population                             0.512821
populationlaborforceparticipation      9.743590
taxrevenue                            13.333333
totaltaxrate                           6.153846
unemploymentrate                       9.743590
urban_population                       2.564103
latitud                              100.000000
longitud                             100.000000
continent                              9.230769
dtype: float64

In [10]:
# lo convertimos a DataFrame
df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])
df_nulos

                                      %_nulos
Unnamed: 0.1                         0.000000
Unnamed: 0                           0.000000
unnamed0                             0.000000
country                              0.000000
density(p/km2)                       0.000000
abbreviation                         3.589744
agriculturalland                     3.589744
landarea                             0.512821
armedforcessize                     12.307692
birthrate                            3.076923
callingcode                          0.512821
capital/majorcity                    1.538462
co2-emissions                        3.589744
cpi                                  8.717949
cpichange                            8.205128
currency-code                        7.692308
fertilityrate                        3.589744
forestedarea                         3.589744
gasolineprice                       10.256410
unnamed0.1                           0.000000
gdp                                  1.025641
grossprimaryeducationenrollment      3.589744
grosstertiaryeducationenrollment     6.153846
infantmortality                      3.076923
largestcity                          3.076923
lifeexpectancy                       4.102564
maternalmortalityratio               7.179487
minimumwage                         23.076923
officiallanguage                     2.564103
outofpockethealthexpenditure         3.589744
physiciansperthousand                3.589744
population                           0.512821
populationlaborforceparticipation    9.743590
taxrevenue                          13.333333
totaltaxrate                         6.153846
unemploymentrate                     9.743590
urban_population                     2.564103
latitud                            100.000000
longitud                           100.000000
continent                            9.230769

In [11]:
# filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos[df_nulos["%_nulos"] > 0]

                                      %_nulos
abbreviation                         3.589744
agriculturalland                     3.589744
landarea                             0.512821
armedforcessize                     12.307692
birthrate                            3.076923
callingcode                          0.512821
capital/majorcity                    1.538462
co2-emissions                        3.589744
cpi                                  8.717949
cpichange                            8.205128
currency-code                        7.692308
fertilityrate                        3.589744
forestedarea                         3.589744
gasolineprice                       10.256410
gdp                                  1.025641
grossprimaryeducationenrollment      3.589744
grosstertiaryeducationenrollment     6.153846
infantmortality                      3.076923
largestcity                          3.076923
lifeexpectancy                       4.102564
maternalmortalityratio               7.179487
minimumwage                         23.076923
officiallanguage                     2.564103
outofpockethealthexpenditure         3.589744
physiciansperthousand                3.589744
population                           0.512821
populationlaborforceparticipation    9.743590
taxrevenue                          13.333333
totaltaxrate                         6.153846
unemploymentrate                     9.743590
urban_population                     2.564103
latitud                            100.000000
longitud                           100.000000
continent                            9.230769

In [12]:
# Obtenemos la lista de columnas categóricas que tienen nulos
nulos_esta_cat = df_nulos[df_nulos.columns[df_nulos.isnull().any()]].select_dtypes(include = "O").columns
print("Las columnas categóricas que tienen nulos son : \n ")
print(nulos_esta_cat)

Las columnas categóricas que tienen nulos son :

Index([], dtype='object')

In [13]:
# calcular el número de nulos que tenemos en cada una de las columnas numericas
df_nulos[nulos_esta_cat].isnull().sum() / df_nulos.shape[0]

Series([], dtype: float64)

In [14]:
# sacamos el 'value_counts()' de cada una de las columnas categóricas que tienen nulos para saber como es la distribución de sus categorías
for col in nulos_esta_cat:
    print(f"La distribución de las categorías para la columna {col.upper()}")
    display(df[col].value_counts() / df_nulos.shape[0])