# PAIR PROGRAMING - MODULO 3- LECCION 06 - GESTION DE NULOS

En este pair programming usaremos el csv que generamos en el pair programming de ayer. El objetivo del ejercicio es identificar las columnas que contienen valores nulos y aplicar un proceso de imputación para manejarlos de manera adecuada.

Instrucciones:

1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

Nota: Puedes utilizar cualquier método o estrategia de imputación que consideres adecuado para los datos y discutir las ventajas y desventajas de tu elección en el informe.

In [ ]:
# Importaciones de las librerías necesarias

# Tratamiento de datos
import pandas as pd
import numpy as np
import pandas as pd

# Imputación de nulos usando métodos avanzados estadísticos
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
import seaborn as sns
import matplotlib.pyplot as plt

# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
# Apertura y lectura del archivo csv, para la lectura y observación en DataFrame
df = pd.read_csv("datos_pair5.csv")
df

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud,continent,total_tax_per_capita,total_tax_per_km,diferencia_maternidad_impuestos
0,0,Afghanistan,60.0,AF,58.10%,652230.0,323000.0,32.49,93.0,Kabul,...,9.30%,71.4,11.12%,9797273.0,33.939110,67.709953,Asia,2.716181e+09,4.526969e+07,566.6
1,1,Albania,105.0,AL,43.10%,28748.0,9000.0,11.78,355.0,Tirana,...,18.60%,36.6,12.33%,1747593.0,41.153332,20.168331,Europe,1.044634e+08,9.948894e+05,-21.6
2,2,Algeria,18.0,DZ,17.40%,2381741.0,317000.0,24.28,213.0,Algiers,...,37.20%,66.1,11.70%,31510100.0,28.033886,1.659626,Africa,2.845807e+09,1.581004e+08,45.9
3,3,Andorra,164.0,AD,40.00%,468.0,NaN,7.20,376.0,Andorra la Vella,...,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe,NaN,NaN,NaN
4,4,Angola,26.0,AO,47.50%,1246700.0,117000.0,40.73,244.0,Luanda,...,9.20%,49.1,6.89%,21061025.0,-11.202692,17.873887,Africa,1.562622e+09,6.010085e+07,191.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32.0,VE,24.50%,912050.0,343000.0,17.88,58.0,Caracas,...,NaN,73.3,8.80%,25162368.0,6.423750,-66.589730,South America,2.090210e+09,6.531907e+07,51.7
191,191,Vietnam,314.0,VN,39.30%,331210.0,522000.0,16.75,84.0,Hanoi,...,19.10%,37.6,2.01%,35332140.0,14.058324,108.277199,Asia,3.626975e+09,1.155088e+07,5.4
192,192,Yemen,56.0,YE,44.60%,527968.0,40000.0,30.45,967.0,Sanaa,...,NaN,26.6,12.91%,10869523.0,15.552727,48.516388,Asia,7.757071e+08,1.385191e+07,137.4
193,193,Zambia,25.0,ZM,32.10%,752618.0,16000.0,36.19,260.0,Lusaka,...,16.20%,15.6,11.43%,7871713.0,-13.133897,27.849332,Africa,2.786321e+08,1.114528e+07,197.4
194,194,Zimbabwe,38.0,ZW,41.90%,390757.0,51000.0,30.68,263.0,Harare,...,20.70%,31.6,4.95%,4717305.0,-19.015438,29.154857,Africa,4.627968e+08,1.217886e+07,426.4

In [3]:
df.columns

Index(['unnamed0', 'country', 'density', 'abbreviation', 'agriculturalland',
       'landarea', 'armedforcessize', 'birthrate', 'callingcode',
       'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0.1', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent', 'total_tax_per_capita', 'total_tax_per_km',
       'diferencia_maternidad_impuestos'],
      dtype='object')

In [5]:
df =df.drop(columns = ['total_tax_per_capita', 'total_tax_per_km',
       'diferencia_maternidad_impuestos'])

In [6]:
df

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud,continent
0,0,Afghanistan,60.0,AF,58.10%,652230.0,323000.0,32.49,93.0,Kabul,...,0.28,38041754.0,48.90%,9.30%,71.4,11.12%,9797273.0,33.939110,67.709953,Asia
1,1,Albania,105.0,AL,43.10%,28748.0,9000.0,11.78,355.0,Tirana,...,1.20,2854191.0,55.70%,18.60%,36.6,12.33%,1747593.0,41.153332,20.168331,Europe
2,2,Algeria,18.0,DZ,17.40%,2381741.0,317000.0,24.28,213.0,Algiers,...,1.72,43053054.0,41.20%,37.20%,66.1,11.70%,31510100.0,28.033886,1.659626,Africa
3,3,Andorra,164.0,AD,40.00%,468.0,NaN,7.20,376.0,Andorra la Vella,...,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,4,Angola,26.0,AO,47.50%,1246700.0,117000.0,40.73,244.0,Luanda,...,0.21,31825295.0,77.50%,9.20%,49.1,6.89%,21061025.0,-11.202692,17.873887,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32.0,VE,24.50%,912050.0,343000.0,17.88,58.0,Caracas,...,1.92,28515829.0,59.70%,NaN,73.3,8.80%,25162368.0,6.423750,-66.589730,South America
191,191,Vietnam,314.0,VN,39.30%,331210.0,522000.0,16.75,84.0,Hanoi,...,0.82,96462106.0,77.40%,19.10%,37.6,2.01%,35332140.0,14.058324,108.277199,Asia
192,192,Yemen,56.0,YE,44.60%,527968.0,40000.0,30.45,967.0,Sanaa,...,0.31,29161922.0,38.00%,NaN,26.6,12.91%,10869523.0,15.552727,48.516388,Asia
193,193,Zambia,25.0,ZM,32.10%,752618.0,16000.0,36.19,260.0,Lusaka,...,1.19,17861030.0,74.60%,16.20%,15.6,11.43%,7871713.0,-13.133897,27.849332,Africa
194,194,Zimbabwe,38.0,ZW,41.90%,390757.0,51000.0,30.68,263.0,Harare,...,0.21,14645468.0,83.10%,20.70%,31.6,4.95%,4717305.0,-19.015438,29.154857,Africa

In [9]:
# Obtener las columnas con valores nulos 
nulos_por_columna = df.isnull().sum()
nulos_por_columna

unnamed0                              0
country                               0
density                               0
abbreviation                          7
agriculturalland                      7
landarea                              1
armedforcessize                      24
birthrate                             6
callingcode                           1
capital/majorcity                     3
co2-emissions                         7
cpi                                  17
cpichange                            16
currency-code                        15
fertilityrate                         7
forestedarea                          7
gasolineprice                        20
unnamed0.1                            0
gdp                                   2
grossprimaryeducationenrollment       7
grosstertiaryeducationenrollment     12
infantmortality                       6
largestcity                           6
lifeexpectancy                        8
maternalmortalityratio               14
minimumwage                          45
officiallanguage                      5
outofpockethealthexpenditure          7
physiciansperthousand                 7
population                            1
populationlaborforceparticipation    19
taxrevenue                           26
totaltaxrate                         12
unemploymentrate                     19
urban_population                      5
latitud                               1
longitud                              1
continent                            18
dtype: int64

In [10]:
# Calcular el porcentaje de nulos usando el método len
porcentaje_nulos = (nulos_por_columna / len(df)) * 100
porcentaje_nulos

unnamed0                              0.000000
country                               0.000000
density                               0.000000
abbreviation                          3.589744
agriculturalland                      3.589744
landarea                              0.512821
armedforcessize                      12.307692
birthrate                             3.076923
callingcode                           0.512821
capital/majorcity                     1.538462
co2-emissions                         3.589744
cpi                                   8.717949
cpichange                             8.205128
currency-code                         7.692308
fertilityrate                         3.589744
forestedarea                          3.589744
gasolineprice                        10.256410
unnamed0.1                            0.000000
gdp                                   1.025641
grossprimaryeducationenrollment       3.589744
grosstertiaryeducationenrollment      6.153846
infantmortality                       3.076923
largestcity                           3.076923
lifeexpectancy                        4.102564
maternalmortalityratio                7.179487
minimumwage                          23.076923
officiallanguage                      2.564103
outofpockethealthexpenditure          3.589744
physiciansperthousand                 3.589744
population                            0.512821
populationlaborforceparticipation     9.743590
taxrevenue                           13.333333
totaltaxrate                          6.153846
unemploymentrate                      9.743590
urban_population                      2.564103
latitud                               0.512821
longitud                              0.512821
continent                             9.230769
dtype: float64

In [9]:
# Calcular el porcentaje de numeros usando el método shape
(df.isnull().sum() / df.shape[0]) * 100

Unnamed: 0.1                           0.000000
Unnamed: 0                             0.000000
unnamed0                               0.000000
country                                0.000000
density(p/km2)                         0.000000
abbreviation                           3.589744
agriculturalland                       3.589744
landarea                               0.512821
armedforcessize                       12.307692
birthrate                              3.076923
callingcode                            0.512821
capital/majorcity                      1.538462
co2-emissions                          3.589744
cpi                                    8.717949
cpichange                              8.205128
currency-code                          7.692308
fertilityrate                          3.589744
forestedarea                           3.589744
gasolineprice                         10.256410
unnamed0.1                             0.000000
gdp                                    1.025641
grossprimaryeducationenrollment        3.589744
grosstertiaryeducationenrollment       6.153846
infantmortality                        3.076923
largestcity                            3.076923
lifeexpectancy                         4.102564
maternalmortalityratio                 7.179487
minimumwage                           23.076923
officiallanguage                       2.564103
outofpockethealthexpenditure           3.589744
physiciansperthousand                  3.589744
population                             0.512821
populationlaborforceparticipation      9.743590
taxrevenue                            13.333333
totaltaxrate                           6.153846
unemploymentrate                       9.743590
urban_population                       2.564103
latitud                              100.000000
longitud                             100.000000
continent                              9.230769
dtype: float64

In [11]:
# Conversión a DataFrame
df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])
df_nulos

                                     %_nulos
unnamed0                            0.000000
country                             0.000000
density                             0.000000
abbreviation                        3.589744
agriculturalland                    3.589744
landarea                            0.512821
armedforcessize                    12.307692
birthrate                           3.076923
callingcode                         0.512821
capital/majorcity                   1.538462
co2-emissions                       3.589744
cpi                                 8.717949
cpichange                           8.205128
currency-code                       7.692308
fertilityrate                       3.589744
forestedarea                        3.589744
gasolineprice                      10.256410
unnamed0.1                          0.000000
gdp                                 1.025641
grossprimaryeducationenrollment     3.589744
grosstertiaryeducationenrollment    6.153846
infantmortality                     3.076923
largestcity                         3.076923
lifeexpectancy                      4.102564
maternalmortalityratio              7.179487
minimumwage                        23.076923
officiallanguage                    2.564103
outofpockethealthexpenditure        3.589744
physiciansperthousand               3.589744
population                          0.512821
populationlaborforceparticipation   9.743590
taxrevenue                         13.333333
totaltaxrate                        6.153846
unemploymentrate                    9.743590
urban_population                    2.564103
latitud                             0.512821
longitud                            0.512821
continent                           9.230769

In [12]:
# Filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos[df_nulos["%_nulos"] > 0]

                                     %_nulos
abbreviation                        3.589744
agriculturalland                    3.589744
landarea                            0.512821
armedforcessize                    12.307692
birthrate                           3.076923
callingcode                         0.512821
capital/majorcity                   1.538462
co2-emissions                       3.589744
cpi                                 8.717949
cpichange                           8.205128
currency-code                       7.692308
fertilityrate                       3.589744
forestedarea                        3.589744
gasolineprice                      10.256410
gdp                                 1.025641
grossprimaryeducationenrollment     3.589744
grosstertiaryeducationenrollment    6.153846
infantmortality                     3.076923
largestcity                         3.076923
lifeexpectancy                      4.102564
maternalmortalityratio              7.179487
minimumwage                        23.076923
officiallanguage                    2.564103
outofpockethealthexpenditure        3.589744
physiciansperthousand               3.589744
population                          0.512821
populationlaborforceparticipation   9.743590
taxrevenue                         13.333333
totaltaxrate                        6.153846
unemploymentrate                    9.743590
urban_population                    2.564103
latitud                             0.512821
longitud                            0.512821
continent                           9.230769

In [20]:
# Buscar las columnas categoricas
columnas_categoricas = df.select_dtypes(include = "O").columns
columnas_categoricas

Index(['country', 'abbreviation', 'agriculturalland', 'capital/majorcity',
       'cpichange', 'currency-code', 'forestedarea',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'largestcity', 'officiallanguage', 'populationlaborforceparticipation',
       'taxrevenue', 'unemploymentrate', 'continent'],
      dtype='object')

In [21]:
# Obtenemos la lista de columnas categóricas que tienen nulos
nulos_esta_cat = df_nulos[df_nulos.columns[df_nulos.isnull().any()]].select_dtypes(include = "O").columns
print("Las columnas categóricas que tienen nulos son : \n ")
print(nulos_esta_cat)

Las columnas categóricas que tienen nulos son :

Index([], dtype='object')

In [ ]:
# No hay columnas categoricas con nulos

In [22]:
# Buscar las columnas numericas
columnas_numericas = df.select_dtypes(include = np.number).columns
columnas_numericas

Index(['unnamed0', 'density', 'landarea', 'armedforcessize', 'birthrate',
       'callingcode', 'co2-emissions', 'cpi', 'fertilityrate', 'gasolineprice',
       'unnamed0.1', 'gdp', 'infantmortality', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population', 'totaltaxrate',
       'urban_population', 'latitud', 'longitud'],
      dtype='object')

In [23]:
# Obtenemos la lista de columnas categóricas que tienen nulos
nulos_esta_num = df[df.columns[df.isnull().any()]].select_dtypes(include = np.number).columns
print("Las columnas numéricas que tienen nulos son : \n ")
print(nulos_esta_num)

Las columnas numéricas que tienen nulos son :

Index(['landarea', 'armedforcessize', 'birthrate', 'callingcode',
       'co2-emissions', 'cpi', 'fertilityrate', 'gasolineprice', 'gdp',
       'infantmortality', 'lifeexpectancy', 'maternalmortalityratio',
       'minimumwage', 'outofpockethealthexpenditure', 'physiciansperthousand',
       'population', 'totaltaxrate', 'urban_population', 'latitud',
       'longitud'],
      dtype='object')

In [26]:
# Obtenemos cuantos nulos hay en cada columna numerica
nulos_col_num = df[columnas_numericas].isnull().sum()
nulos_col_num

unnamed0                         0
density                          0
landarea                         1
armedforcessize                 24
birthrate                        6
callingcode                      1
co2-emissions                    7
cpi                             17
fertilityrate                    7
gasolineprice                   20
unnamed0.1                       0
gdp                              2
infantmortality                  6
lifeexpectancy                   8
maternalmortalityratio          14
minimumwage                     45
outofpockethealthexpenditure     7
physiciansperthousand            7
population                       1
totaltaxrate                    12
urban_population                 5
latitud                          1
longitud                         1
dtype: int64

In [27]:
# Calcular el porcentaje de numeros en la columnas numericas usando el método len
porcentaje_nulos_numericos = (nulos_col_num / len(df)) * 100
porcentaje_nulos_numericos

unnamed0                         0.000000
density                          0.000000
landarea                         0.512821
armedforcessize                 12.307692
birthrate                        3.076923
callingcode                      0.512821
co2-emissions                    3.589744
cpi                              8.717949
fertilityrate                    3.589744
gasolineprice                   10.256410
unnamed0.1                       0.000000
gdp                              1.025641
infantmortality                  3.076923
lifeexpectancy                   4.102564
maternalmortalityratio           7.179487
minimumwage                     23.076923
outofpockethealthexpenditure     3.589744
physiciansperthousand            3.589744
population                       0.512821
totaltaxrate                     6.153846
urban_population                 2.564103
latitud                          0.512821
longitud                         0.512821
dtype: float64

In [28]:
# Conversión a DataFrame
df_nulos_num = pd.DataFrame((df[columnas_numericas].isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])
df_nulos_num

                                %_nulos
unnamed0                       0.000000
density                        0.000000
landarea                       0.512821
armedforcessize               12.307692
birthrate                      3.076923
callingcode                    0.512821
co2-emissions                  3.589744
cpi                            8.717949
fertilityrate                  3.589744
gasolineprice                 10.256410
unnamed0.1                     0.000000
gdp                            1.025641
infantmortality                3.076923
lifeexpectancy                 4.102564
maternalmortalityratio         7.179487
minimumwage                   23.076923
outofpockethealthexpenditure   3.589744
physiciansperthousand          3.589744
population                     0.512821
totaltaxrate                   6.153846
urban_population               2.564103
latitud                        0.512821
longitud                       0.512821

In [29]:
# Filtrado del DataFrame para quedarnos solo con aquellas columnas numericas que tengan nulos
df_nulos_num[df_nulos_num["%_nulos"] > 0]

                                %_nulos
landarea                       0.512821
armedforcessize               12.307692
birthrate                      3.076923
callingcode                    0.512821
co2-emissions                  3.589744
cpi                            8.717949
fertilityrate                  3.589744
gasolineprice                 10.256410
gdp                            1.025641
infantmortality                3.076923
lifeexpectancy                 4.102564
maternalmortalityratio         7.179487
minimumwage                   23.076923
outofpockethealthexpenditure   3.589744
physiciansperthousand          3.589744
population                     0.512821
totaltaxrate                   6.153846
urban_population               2.564103
latitud                        0.512821
longitud                       0.512821

In [32]:
df["minimumwage"]

0      0.43
1      1.12
2      0.95
3      6.63
4      0.71
       ...
190    0.01
191    0.73
192     NaN
193    0.24
194     NaN
Name: minimumwage, Length: 195, dtype: float64

In [35]:
# SimpleImputer
imputer = SimpleImputer(strategy = "mean")
SimpleMean = imputer.fit_transform(df[["minimumwage"]])
SimpleMean

array([[4.30000000e-01],
       [1.12000000e+00],
       [9.50000000e-01],
       [6.63000000e+00],
       [7.10000000e-01],
       [3.04000000e+00],
       [3.35000000e+00],
       [6.60000000e-01],
       [1.35900000e+01],
       [2.19413333e+00],
       [4.70000000e-01],
       [5.25000000e+00],
       [2.19413333e+00],
       [5.10000000e-01],
       [3.13000000e+00],
       [1.49000000e+00],
       [1.03100000e+01],
       [1.65000000e+00],
       [3.90000000e-01],
       [3.20000000e-01],
       [1.36000000e+00],
       [1.04000000e+00],
       [2.90000000e-01],
       [1.53000000e+00],
       [2.19413333e+00],
       [1.57000000e+00],
       [3.40000000e-01],
       [2.19413333e+00],
       [3.60000000e-01],
       [6.80000000e-01],
       [2.19413333e+00],
       [3.50000000e-01],
       [9.51000000e+00],
       [3.70000000e-01],
       [6.00000000e-01],
       [2.00000000e+00],
       [8.70000000e-01],
       [1.23000000e+00],
       [7.10000000e-01],
       [8.80000000e-01],
       [1.84000000e+00],
       [2.92000000e+00],
       [5.00000000e-02],
       [2.19413333e+00],
       [3.00000000e+00],
       [1.80000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.48000000e+00],
       [4.00000000e-01],
       [2.46000000e+00],
       [2.19413333e+00],
       [5.00000000e-01],
       [1.05000000e+00],
       [2.19413333e+00],
       [3.14000000e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.28000000e+00],
       [2.19413333e+00],
       [1.11600000e+01],
       [1.46000000e+00],
       [1.30000000e-01],
       [5.00000000e-02],
       [9.99000000e+00],
       [2.70000000e-01],
       [4.46000000e+00],
       [2.19413333e+00],
       [1.60000000e+00],
       [2.19413333e+00],
       [1.60000000e-01],
       [9.80000000e-01],
       [2.50000000e-01],
       [2.19413333e+00],
       [1.01000000e+00],
       [2.62000000e+00],
       [2.19413333e+00],
       [3.00000000e-01],
       [4.80000000e-01],
       [1.58000000e+00],
       [1.24000000e+00],
       [1.07900000e+01],
       [7.58000000e+00],
       [2.19413333e+00],
       [1.33000000e+00],
       [6.77000000e+00],
       [1.49000000e+00],
       [4.10000000e-01],
       [2.50000000e-01],
       [2.19413333e+00],
       [9.50000000e-01],
       [9.00000000e-02],
       [8.30000000e-01],
       [2.80000000e+00],
       [2.15000000e+00],
       [4.10000000e-01],
       [1.70000000e-01],
       [1.88000000e+00],
       [2.19413333e+00],
       [2.41000000e+00],
       [1.30500000e+01],
       [2.10000000e-01],
       [1.20000000e-01],
       [9.30000000e-01],
       [2.19413333e+00],
       [2.30000000e-01],
       [5.07000000e+00],
       [2.00000000e+00],
       [5.30000000e-01],
       [3.80000000e-01],
       [4.90000000e-01],
       [2.19413333e+00],
       [3.10000000e-01],
       [1.17200000e+01],
       [6.50000000e-01],
       [1.23000000e+00],
       [1.60000000e+00],
       [2.70000000e-01],
       [3.90000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [3.60000000e-01],
       [1.02900000e+01],
       [1.14900000e+01],
       [5.40000000e-01],
       [2.90000000e-01],
       [5.40000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [4.33000000e+00],
       [6.90000000e-01],
       [3.00000000e+00],
       [2.19413333e+00],
       [1.53000000e+00],
       [1.16000000e+00],
       [1.55000000e+00],
       [1.28000000e+00],
       [1.12000000e+00],
       [2.93000000e+00],
       [3.78000000e+00],
       [2.19413333e+00],
       [2.25000000e+00],
       [5.30000000e-01],
       [2.19413333e+00],
       [3.33000000e+00],
       [2.19413333e+00],
       [1.16000000e+00],
       [7.80000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [3.85000000e+00],
       [3.10000000e-01],
       [1.57000000e+00],
       [2.00000000e+00],
       [5.70000000e-01],
       [2.19413333e+00],
       [3.11000000e+00],
       [5.25000000e+00],
       [4.00000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [6.49000000e+00],
       [2.19413333e+00],
       [5.60000000e+00],
       [3.50000000e-01],
       [4.10000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.02000000e+00],
       [2.30000000e-01],
       [9.00000000e-02],
       [1.06000000e+00],
       [6.00000000e-01],
       [3.40000000e-01],
       [2.19413333e+00],
       [2.25000000e+00],
       [4.70000000e-01],
       [3.45000000e+00],
       [8.80000000e-01],
       [2.19413333e+00],
       [1.00000000e-02],
       [8.40000000e-01],
       [2.19413333e+00],
       [1.01300000e+01],
       [7.25000000e+00],
       [1.66000000e+00],
       [2.40000000e-01],
       [1.56000000e+00],
       [1.00000000e-02],
       [7.30000000e-01],
       [2.19413333e+00],
       [2.40000000e-01],
       [2.19413333e+00]])

In [40]:
# KNNImputer
imputer2 = KNNImputer(n_neighbors = 5)
x_imputedKNN = imputer2.fit_transform(df[["minimumwage"]])
x_imputedKNN

array([[4.30000000e-01],
       [1.12000000e+00],
       [9.50000000e-01],
       [6.63000000e+00],
       [7.10000000e-01],
       [3.04000000e+00],
       [3.35000000e+00],
       [6.60000000e-01],
       [1.35900000e+01],
       [2.19413333e+00],
       [4.70000000e-01],
       [5.25000000e+00],
       [2.19413333e+00],
       [5.10000000e-01],
       [3.13000000e+00],
       [1.49000000e+00],
       [1.03100000e+01],
       [1.65000000e+00],
       [3.90000000e-01],
       [3.20000000e-01],
       [1.36000000e+00],
       [1.04000000e+00],
       [2.90000000e-01],
       [1.53000000e+00],
       [2.19413333e+00],
       [1.57000000e+00],
       [3.40000000e-01],
       [2.19413333e+00],
       [3.60000000e-01],
       [6.80000000e-01],
       [2.19413333e+00],
       [3.50000000e-01],
       [9.51000000e+00],
       [3.70000000e-01],
       [6.00000000e-01],
       [2.00000000e+00],
       [8.70000000e-01],
       [1.23000000e+00],
       [7.10000000e-01],
       [8.80000000e-01],
       [1.84000000e+00],
       [2.92000000e+00],
       [5.00000000e-02],
       [2.19413333e+00],
       [3.00000000e+00],
       [1.80000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.48000000e+00],
       [4.00000000e-01],
       [2.46000000e+00],
       [2.19413333e+00],
       [5.00000000e-01],
       [1.05000000e+00],
       [2.19413333e+00],
       [3.14000000e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.28000000e+00],
       [2.19413333e+00],
       [1.11600000e+01],
       [1.46000000e+00],
       [1.30000000e-01],
       [5.00000000e-02],
       [9.99000000e+00],
       [2.70000000e-01],
       [4.46000000e+00],
       [2.19413333e+00],
       [1.60000000e+00],
       [2.19413333e+00],
       [1.60000000e-01],
       [9.80000000e-01],
       [2.50000000e-01],
       [2.19413333e+00],
       [1.01000000e+00],
       [2.62000000e+00],
       [2.19413333e+00],
       [3.00000000e-01],
       [4.80000000e-01],
       [1.58000000e+00],
       [1.24000000e+00],
       [1.07900000e+01],
       [7.58000000e+00],
       [2.19413333e+00],
       [1.33000000e+00],
       [6.77000000e+00],
       [1.49000000e+00],
       [4.10000000e-01],
       [2.50000000e-01],
       [2.19413333e+00],
       [9.50000000e-01],
       [9.00000000e-02],
       [8.30000000e-01],
       [2.80000000e+00],
       [2.15000000e+00],
       [4.10000000e-01],
       [1.70000000e-01],
       [1.88000000e+00],
       [2.19413333e+00],
       [2.41000000e+00],
       [1.30500000e+01],
       [2.10000000e-01],
       [1.20000000e-01],
       [9.30000000e-01],
       [2.19413333e+00],
       [2.30000000e-01],
       [5.07000000e+00],
       [2.00000000e+00],
       [5.30000000e-01],
       [3.80000000e-01],
       [4.90000000e-01],
       [2.19413333e+00],
       [3.10000000e-01],
       [1.17200000e+01],
       [6.50000000e-01],
       [1.23000000e+00],
       [1.60000000e+00],
       [2.70000000e-01],
       [3.90000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [3.60000000e-01],
       [1.02900000e+01],
       [1.14900000e+01],
       [5.40000000e-01],
       [2.90000000e-01],
       [5.40000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [4.33000000e+00],
       [6.90000000e-01],
       [3.00000000e+00],
       [2.19413333e+00],
       [1.53000000e+00],
       [1.16000000e+00],
       [1.55000000e+00],
       [1.28000000e+00],
       [1.12000000e+00],
       [2.93000000e+00],
       [3.78000000e+00],
       [2.19413333e+00],
       [2.25000000e+00],
       [5.30000000e-01],
       [2.19413333e+00],
       [3.33000000e+00],
       [2.19413333e+00],
       [1.16000000e+00],
       [7.80000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [3.85000000e+00],
       [3.10000000e-01],
       [1.57000000e+00],
       [2.00000000e+00],
       [5.70000000e-01],
       [2.19413333e+00],
       [3.11000000e+00],
       [5.25000000e+00],
       [4.00000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [6.49000000e+00],
       [2.19413333e+00],
       [5.60000000e+00],
       [3.50000000e-01],
       [4.10000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.02000000e+00],
       [2.30000000e-01],
       [9.00000000e-02],
       [1.06000000e+00],
       [6.00000000e-01],
       [3.40000000e-01],
       [2.19413333e+00],
       [2.25000000e+00],
       [4.70000000e-01],
       [3.45000000e+00],
       [8.80000000e-01],
       [2.19413333e+00],
       [1.00000000e-02],
       [8.40000000e-01],
       [2.19413333e+00],
       [1.01300000e+01],
       [7.25000000e+00],
       [1.66000000e+00],
       [2.40000000e-01],
       [1.56000000e+00],
       [1.00000000e-02],
       [7.30000000e-01],
       [2.19413333e+00],
       [2.40000000e-01],
       [2.19413333e+00]])

In [41]:
# Iterative Imputer
imputer3 = IterativeImputer(max_iter = 20, random_state = 1)
x_imputedII = imputer3.fit_transform(df[["minimumwage"]])
x_imputedII

array([[4.30000000e-01],
       [1.12000000e+00],
       [9.50000000e-01],
       [6.63000000e+00],
       [7.10000000e-01],
       [3.04000000e+00],
       [3.35000000e+00],
       [6.60000000e-01],
       [1.35900000e+01],
       [2.19413333e+00],
       [4.70000000e-01],
       [5.25000000e+00],
       [2.19413333e+00],
       [5.10000000e-01],
       [3.13000000e+00],
       [1.49000000e+00],
       [1.03100000e+01],
       [1.65000000e+00],
       [3.90000000e-01],
       [3.20000000e-01],
       [1.36000000e+00],
       [1.04000000e+00],
       [2.90000000e-01],
       [1.53000000e+00],
       [2.19413333e+00],
       [1.57000000e+00],
       [3.40000000e-01],
       [2.19413333e+00],
       [3.60000000e-01],
       [6.80000000e-01],
       [2.19413333e+00],
       [3.50000000e-01],
       [9.51000000e+00],
       [3.70000000e-01],
       [6.00000000e-01],
       [2.00000000e+00],
       [8.70000000e-01],
       [1.23000000e+00],
       [7.10000000e-01],
       [8.80000000e-01],
       [1.84000000e+00],
       [2.92000000e+00],
       [5.00000000e-02],
       [2.19413333e+00],
       [3.00000000e+00],
       [1.80000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.48000000e+00],
       [4.00000000e-01],
       [2.46000000e+00],
       [2.19413333e+00],
       [5.00000000e-01],
       [1.05000000e+00],
       [2.19413333e+00],
       [3.14000000e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.28000000e+00],
       [2.19413333e+00],
       [1.11600000e+01],
       [1.46000000e+00],
       [1.30000000e-01],
       [5.00000000e-02],
       [9.99000000e+00],
       [2.70000000e-01],
       [4.46000000e+00],
       [2.19413333e+00],
       [1.60000000e+00],
       [2.19413333e+00],
       [1.60000000e-01],
       [9.80000000e-01],
       [2.50000000e-01],
       [2.19413333e+00],
       [1.01000000e+00],
       [2.62000000e+00],
       [2.19413333e+00],
       [3.00000000e-01],
       [4.80000000e-01],
       [1.58000000e+00],
       [1.24000000e+00],
       [1.07900000e+01],
       [7.58000000e+00],
       [2.19413333e+00],
       [1.33000000e+00],
       [6.77000000e+00],
       [1.49000000e+00],
       [4.10000000e-01],
       [2.50000000e-01],
       [2.19413333e+00],
       [9.50000000e-01],
       [9.00000000e-02],
       [8.30000000e-01],
       [2.80000000e+00],
       [2.15000000e+00],
       [4.10000000e-01],
       [1.70000000e-01],
       [1.88000000e+00],
       [2.19413333e+00],
       [2.41000000e+00],
       [1.30500000e+01],
       [2.10000000e-01],
       [1.20000000e-01],
       [9.30000000e-01],
       [2.19413333e+00],
       [2.30000000e-01],
       [5.07000000e+00],
       [2.00000000e+00],
       [5.30000000e-01],
       [3.80000000e-01],
       [4.90000000e-01],
       [2.19413333e+00],
       [3.10000000e-01],
       [1.17200000e+01],
       [6.50000000e-01],
       [1.23000000e+00],
       [1.60000000e+00],
       [2.70000000e-01],
       [3.90000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [3.60000000e-01],
       [1.02900000e+01],
       [1.14900000e+01],
       [5.40000000e-01],
       [2.90000000e-01],
       [5.40000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [4.33000000e+00],
       [6.90000000e-01],
       [3.00000000e+00],
       [2.19413333e+00],
       [1.53000000e+00],
       [1.16000000e+00],
       [1.55000000e+00],
       [1.28000000e+00],
       [1.12000000e+00],
       [2.93000000e+00],
       [3.78000000e+00],
       [2.19413333e+00],
       [2.25000000e+00],
       [5.30000000e-01],
       [2.19413333e+00],
       [3.33000000e+00],
       [2.19413333e+00],
       [1.16000000e+00],
       [7.80000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [3.85000000e+00],
       [3.10000000e-01],
       [1.57000000e+00],
       [2.00000000e+00],
       [5.70000000e-01],
       [2.19413333e+00],
       [3.11000000e+00],
       [5.25000000e+00],
       [4.00000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [6.49000000e+00],
       [2.19413333e+00],
       [5.60000000e+00],
       [3.50000000e-01],
       [4.10000000e-01],
       [2.19413333e+00],
       [2.19413333e+00],
       [2.19413333e+00],
       [1.02000000e+00],
       [2.30000000e-01],
       [9.00000000e-02],
       [1.06000000e+00],
       [6.00000000e-01],
       [3.40000000e-01],
       [2.19413333e+00],
       [2.25000000e+00],
       [4.70000000e-01],
       [3.45000000e+00],
       [8.80000000e-01],
       [2.19413333e+00],
       [1.00000000e-02],
       [8.40000000e-01],
       [2.19413333e+00],
       [1.01300000e+01],
       [7.25000000e+00],
       [1.66000000e+00],
       [2.40000000e-01],
       [1.56000000e+00],
       [1.00000000e-02],
       [7.30000000e-01],
       [2.19413333e+00],
       [2.40000000e-01],
       [2.19413333e+00]])

In [ ]:
# Crear columnas de todas las imputaciones para compararlas con la original. Obtener una vision con todas y elegir el método que mas se parezca a la columna original