# PAIR PROGRAMING - MODULO 3- LECCION 04 - UNION DE DATOS E INTRODUCCION A LIMPIEZA

In [69]:
# Importaciones necesarias
import pandas as pd
import numpy as np
import re

In [70]:
# Apertura y lectura del archivo csv, para la lectura y observación en DataFrame
df_world1 = pd.read_csv("data/world-data-2023_part1.csv")
df_world1

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [71]:
df_world2 = pd.read_csv("data/world-data-2023_part2.csv")
df_world2

,Unnamed: 0,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,191,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,192,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,193,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,194,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

## Ejercicios Unión de Datos

0. Crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos.

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

2. Identifica las columnas comunes entre los dos conjuntos de datos.

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [72]:
df_concat = pd.concat([df_world1, df_world2], axis = 1)
df_concat

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

3 y 4. Seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Seleccionamos el método `concat()` con unión por columnas debido a que los DataFrames contienen los mismos registros pero con datos distintos. Esta elección nos permite agregar las columnas con los nuevos datos a los registros existentes. En lugar de fusionar en base a una clave común, concat() simplemente agrega las columnas de un DataFrame al lado de las columnas del otro, manteniendo la estructura de los registros intacta y evitando redundancias.

## Ejercicios de Limpieza
1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [73]:
df_concat.drop(columns = ["country"], inplace = True )
df_concat

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,...,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,...,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,...,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,...,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,...,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,...,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

Estén en minúscula.

No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [74]:
df_concat.columns = df_concat.columns.str.lower()

In [75]:
df_concat.head()

,unnamed: 0,country,density\n(p/km2),abbreviation,agricultural land( %),land area(km2),armed forces size,birth rate,calling code,capital/major city,...,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation (%),tax revenue (%),total tax rate,unemployment rate,urban_population,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

In [78]:
df_concat.columns = df_concat.columns.str.replace(" ", "").str.replace("\n", "").str.replace(":", "").str.replace("%", "").str.replace("(km2)", "").str.replace("(", "").str.replace(")", "").str.replace("p/", "")

/tmp/ipykernel_489106/487301649.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_concat.columns = df_concat.columns.str.replace(" ", "").str.replace("\n", "").str.replace(":", "").str.replace("%", "").str.replace("(km2)", "").str.replace("(", "").str.replace(")", "").str.replace("p/", "")
/tmp/ipykernel_489106/487301649.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_concat.columns = df_concat.columns.str.replace(" ", "").str.replace("\n", "").str.replace(":", "").str.replace("%", "").str.replace("(km2)", "").str.replace("(", "").str.replace(")", "").str.replace("p/", "")
/tmp/ipykernel_489106/487301649.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_concat.columns = df_concat.columns.str.replace(" ", "").str.replace("\n", "").str.replace(":", "").str.replace("%", "").str.replace("(km2)", "").str.replace("(", "").str.replace(")", "").str.replace("p/", "")

In [79]:
df_concat

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,...,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,...,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,...,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,...,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,...,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [80]:
# Uso de iloc[]
df_concat[["latitud", "longitud"]] = df_concat["coordinates"].str.split(",", expand = True).iloc[:,[0,1]]

In [81]:
# Uso de get.([])
df_concat[["latitud", "longitud"]] = df_concat["coordinates"].str.split(",", expand=True).get([0, 1])

In [82]:
df_concat.drop(columns = ["coordinates"], inplace = True)

In [83]:
df_concat

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",('28.033886 ','1.659626')
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",('6.42375 ','-66.58973')
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",('14.058324 ','108.277199')
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",('15.552727 ','48.516388')
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",('-13.133897 ','27.849332')
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",('-19.015438 ','29.154857')

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [84]:
df_concat.columns

Index(['unnamed0', 'country', 'density', 'abbreviation', 'agriculturalland',
       'landarea', 'armedforcessize', 'birthrate', 'callingcode',
       'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')

In [85]:
columnas_porcentaje =  [
    "unemploymentrate",
    "totaltaxrate",
    "taxrevenue()",
    "populationlaborforceparticipation()",
    "outofpockethealthexpenditure",
    "grosstertiaryeducationenrollment()",
    "grossprimaryeducationenrollment()",
    "forestedarea()",
    "cpichange()",
    "agriculturalland()"
]

In [86]:
df_concat[columnas_porcentaje] = df_concat[columnas_porcentaje].replace({'%': ''}, regex=True)

KeyError: "['taxrevenue()', 'populationlaborforceparticipation()', 'grosstertiaryeducationenrollment()', 'grossprimaryeducationenrollment()', 'forestedarea()', 'cpichange()', 'agriculturalland()'] not in index"

In [ ]:
df_concat["unemploymentrate"]

0      11.12
1      12.33
2      11.70
3        NaN
4       6.89
       ...
190     8.80
191     2.01
192    12.91
193    11.43
194     4.95
Name: unemploymentrate, Length: 195, dtype: object



5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [87]:
columnas_dolar = ["gasolineprice", "gdp", "minimumwage"]

In [88]:
df_concat[columnas_dolar] = df_concat[columnas_dolar].replace({'\$': ''}, regex=True)

In [89]:
df_concat["gasolineprice"]

0      0.70
1      1.36
2      0.28
3      1.51
4      0.97
       ...
190    0.00
191    0.80
192    0.92
193    1.40
194    1.34
Name: gasolineprice, Length: 195, dtype: object

6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [90]:
df_concat.to_csv("datos_pair4.csv")

## Ejercicios de Filtrado

In [91]:
df_concat.columns

Index(['unnamed0', 'country', 'density', 'abbreviation', 'agriculturalland',
       'landarea', 'armedforcessize', 'birthrate', 'callingcode',
       'capital/majorcity', 'co2-emissions', 'cpi', 'cpichange',
       'currency-code', 'fertilityrate', 'forestedarea', 'gasolineprice',
       'unnamed0', 'gdp', 'grossprimaryeducationenrollment',
       'grosstertiaryeducationenrollment', 'infantmortality', 'largestcity',
       'lifeexpectancy', 'maternalmortalityratio', 'minimumwage',
       'officiallanguage', 'outofpockethealthexpenditure',
       'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')

1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [92]:
df1 = df_concat[(df_concat["infantmortality"] >= 40) & (df_concat["infantmortality"] <= 50)]
df1["infantmortality"]

0      47.9
26     49.0
27     41.0
47     49.8
72     49.5
89     41.2
125    48.0
166    42.1
175    47.4
192    42.9
193    40.4
Name: infantmortality, dtype: float64

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [93]:
df2 = df_concat[(df_concat["fertilityrate"] >= 2) & (df_concat["lifeexpectancy"] > 75)] #suponemos que se han confundido con el enunciado y se referían a 2
df2

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",('28.033886 ','1.659626')
6,6,Argentina,17,AR,54.30%,"2,780,400","105,000",17.02,54.0,Buenos Aires,...,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",('-38.416097 ','-63.616672')
50,50,Ecuador,71,EC,22.20%,"283,561","41,000",19.72,593.0,Quito,...,43.70%,2.04,"17,373,662",68.00%,NaN,34.40%,3.97%,"11,116,711",('-1.831239 ','-78.183406')
74,74,Honduras,89,HN,28.90%,"112,090","23,000",21.60,504.0,Tegucigalpa,...,49.10%,0.31,"9,746,117",68.80%,17.30%,39.10%,5.39%,"5,626,433",('15.199999 ','-86.241905')
79,79,Iran,52,IR,28.20%,"1,648,195","563,000",18.78,98.0,Tehran,...,39.70%,1.58,"82,913,906",44.70%,7.40%,44.70%,11.38%,"62,509,623",('32.427908 ','53.688046')
82,82,Israel,400,IL,24.60%,"20,770","178,000",20.80,972.0,Jerusalem,...,24.40%,4.62,"9,053,300",64.00%,23.10%,25.30%,3.86%,"8,374,393",('31.046051 ','34.851612')
90,90,Kuwait,240,KW,8.40%,"17,818","25,000",13.94,965.0,Kuwait City,...,14.40%,2.58,"4,207,083",73.50%,1.40%,13.00%,2.18%,"4,207,083",('29.31166 ','47.481766')
94,94,Lebanon,667,LB,64.30%,"10,400","80,000",17.55,961.0,Beirut,...,32.10%,2.10,"6,855,713",47.00%,15.30%,32.20%,6.23%,"6,084,994",('33.854721 ','35.862285')
103,103,Malaysia,99,MY,26.30%,"329,847","136,000",16.75,60.0,Kuala Lumpur,...,36.70%,1.51,"32,447,385",64.30%,12.00%,38.70%,3.32%,"24,475,766",('4.210484 ','101.975766')
116,116,Morocco,83,MA,68.50%,"446,550","246,000",18.94,212.0,Rabat,...,53.10%,0.73,"36,910,560",45.30%,21.90%,45.80%,9.02%,"22,975,026",('31.791702 ','-7.09262')
130,130,Oman,16,OM,4.60%,"309,500","47,000",19.19,968.0,Muscat,...,6.40%,2.00,"5,266,535",72.40%,2.50%,27.40%,2.67%,"4,250,777",('21.4735329 ','55.975413')
134,134,Panama,58,PA,30.40%,"75,420","26,000",18.98,507.0,Panama City,...,30.50%,1.57,"4,246,439",66.60%,NaN,37.20%,3.90%,"2,890,084",('8.537981 ','-80.782127')
137,137,Peru,26,PE,18.50%,"1,285,216","158,000",17.95,51.0,Lima,...,30.90%,1.27,"32,510,453",77.60%,14.30%,36.80%,3.31%,"25,390,339",('-9.189967 ','-75.015152')
165,165,Sri Lanka,341,LK,43.70%,"65,610","317,000",15.83,94.0,Colombo,...,38.40%,1.00,"21,803,000",53.90%,11.90%,55.20%,4.20%,"4,052,088",('7.873054 ','80.771797')
178,178,Tunisia,76,TN,64.80%,"163,610","48,000",17.56,216.0,Tunis,...,39.80%,1.30,"11,694,719",46.10%,21.10%,60.70%,16.02%,"8,099,061",('33.886917 ','9.537499')
179,179,Turkey,110,TR,49.80%,"783,562","512,000",16.03,90.0,Ankara,...,16.90%,1.85,"83,429,615",52.80%,17.90%,42.30%,13.49%,"63,097,818",('38.963745 ','35.243322')
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",('14.058324 ','108.277199')

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [94]:
df3 = df_concat[(df_concat["country"].str.contains("la", case = False)) ]
df3

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",('-11.202692 ','17.873887')
13,13,Bangladesh,"1,265",BD,70.60%,"148,460","221,000",18.18,880.0,Dhaka,...,71.80%,0.58,"167,310,838",59.00%,8.80%,33.40%,4.19%,"60,987,417",('23.684994 ','90.356331')
15,15,Belarus,47,BY,42.00%,"207,600","155,000",9.90,375.0,Minsk,...,34.50%,5.19,"9,466,856",64.10%,14.70%,53.30%,4.59%,"7,482,982",('53.709807 ','27.953389')
59,59,Finland,18,FI,7.50%,"338,145","25,000",8.60,358.0,Helsinki,...,19.90%,3.81,"5,520,314",59.10%,20.80%,36.60%,6.59%,"4,716,888",('61.92411 ','25.748151')
68,68,Guatemala,167,GT,36.00%,"108,889","43,000",24.56,502.0,Guatemala City,...,55.80%,0.35,"16,604,026",62.30%,10.60%,35.20%,2.46%,"8,540,945",('15.783471 ','-90.230759')
76,76,Iceland,3,IS,18.70%,"103,000",0,12.00,354.0,Reykjav��,...,17.00%,4.08,"361,313",75.00%,23.30%,31.90%,2.84%,"339,110",('64.963051 ','-19.020835')
81,81,Republic of Ireland,72,NaN,64.50%,"70,273","9,000",12.50,353.0,Dublin,...,15.20%,3.31,"5,007,069",62.10%,18.30%,26.10%,4.93%,"3,133,123",('53.41291 ','-8.24389')
92,92,Laos,32,LA,10.30%,"236,800","129,000",23.55,856.0,Vientiane,...,45.40%,0.37,"7,169,455",78.50%,12.90%,24.10%,0.63%,"2,555,552",('19.85627 ','102.495496')
93,93,Latvia,30,LV,31.10%,"64,589","6,000",10.00,371.0,Riga,...,41.60%,3.19,"1,912,789",61.40%,22.90%,38.10%,6.52%,"1,304,943",('56.879635 ','24.603189')
102,102,Malawi,203,MW,61.40%,"118,484","15,000",34.12,265.0,Lilongwe,...,11.00%,0.04,"18,628,747",76.70%,17.30%,34.50%,5.65%,"3,199,301",('-13.254308 ','34.301525')
103,103,Malaysia,99,MY,26.30%,"329,847","136,000",16.75,60.0,Kuala Lumpur,...,36.70%,1.51,"32,447,385",64.30%,12.00%,38.70%,3.32%,"24,475,766",('4.210484 ','101.975766')
107,107,Marshall Islands,329,MH,63.90%,181,NaN,29.03,692.0,Majuro,...,10.00%,0.42,"58,791",NaN,17.80%,65.90%,NaN,"45,514",('7.131474 ','171.184478')
122,122,Netherlands,508,NL,53.30%,"41,543","41,000",9.70,31.0,Amsterdam,...,12.30%,3.61,"17,332,850",63.60%,23.00%,41.20%,3.20%,"15,924,729",('52.132633 ','5.291266')
123,123,New Zealand,18,NZ,40.50%,"268,838","9,000",11.98,64.0,Wellington,...,12.60%,3.59,"4,841,000",69.90%,29.00%,34.60%,4.07%,"4,258,860",('-40.900557 ','174.885971')
132,132,Palau,39,PW,10.90%,459,NaN,14.00,680.0,Ngerulmud,...,21.80%,1.18,"18,233",NaN,21.30%,76.60%,NaN,"14,491",('7.51498 ','134.58252')
139,139,Poland,124,PL,46.90%,"312,685","191,000",10.20,48.0,Warsaw,...,23.20%,2.38,"37,970,874",56.70%,17.40%,40.80%,3.47%,"22,796,574",('51.919438 ','19.145136')
159,159,Solomon Islands,25,SB,3.90%,"28,896",NaN,32.44,677.0,Honiara,...,3.30%,0.19,"669,823",83.80%,29.50%,32.00%,0.58%,"162,164",('-9.64571 ','160.156194')
165,165,Sri Lanka,341,LK,43.70%,"65,610","317,000",15.83,94.0,Colombo,...,38.40%,1.00,"21,803,000",53.90%,11.90%,55.20%,4.20%,"4,052,088",('7.873054 ','80.771797')
169,169,Switzerland,219,CH,38.40%,"41,277","21,000",10.00,41.0,Bern,...,28.30%,4.30,"8,574,832",68.30%,10.10%,28.80%,4.58%,"6,332,428",('46.818188 ','8.227512')
173,173,Thailand,137,TH,43.30%,"513,120","455,000",10.34,66.0,Bangkok,...,11.80%,0.81,"69,625,582",67.30%,14.90%,29.50%,0.75%,"35,294,600",('15.870032 ','100.992541')
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",('6.42375 ','-66.58973')

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [95]:
df4 = df_concat[(df_concat["physiciansperthousand"] > 5)]
df4["physiciansperthousand"]

9      5.17
15     5.19
42     8.42
63     7.12
66     5.48
99     6.35
113    6.56
140    5.12
149    6.11
187    5.05
Name: physiciansperthousand, dtype: float64

5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.

In [96]:
df5 = df_concat[(df_concat["fertilityrate"] > 6)]
df5["fertilityrate"]

125    6.91
160    6.07
Name: fertilityrate, dtype: float64

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [97]:
df6 = df_concat[(df_concat["fertilityrate"] > df_concat["fertilityrate"].mean()) & (df_concat["currency-code"] == "EUR")] 
df6

Empty DataFrame
Columns: [unnamed0, country, density, abbreviation, agriculturalland, landarea, armedforcessize, birthrate, callingcode, capital/majorcity, co2-emissions, cpi, cpichange, currency-code, fertilityrate, forestedarea, gasolineprice, unnamed0, gdp, grossprimaryeducationenrollment, grosstertiaryeducationenrollment, infantmortality, largestcity, lifeexpectancy, maternalmortalityratio, minimumwage, officiallanguage, outofpockethealthexpenditure, physiciansperthousand, population, populationlaborforceparticipation, taxrevenue, totaltaxrate, unemploymentrate, urban_population, latitud, longitud]
Index: []

[0 rows x 37 columns]

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [98]:
df7 = df_concat[df_concat["infantmortality"] > 70 ]
df7["infantmortality"]

33     84.5
34     71.4
126    75.7
155    78.5
160    76.6
Name: infantmortality, dtype: float64

In [99]:
df_concat.head()

,unnamed0,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",('28.033886 ','1.659626')
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",('-11.202692 ','17.873887')

# Guardar cvs pair o4

In [100]:
df_concat.to_csv('datos_pair4_bien.csv', index=False)